[2016-12-09 01:03] rpalmon opened #8 "[Request] DS game cheats"
Do you think it could be possible for you to add DS game cheats?

[2016-12-09 05:53] weirdal3333 commented on #8
I'd like this too, but only after I can launch a '.nds' file from my internal sd card!
You might be able to use the usrcheat.dat file from ysmenu or the r4i menus.

[2016-12-10 23:33] weirdal3333 opened #9 "[Request] Nds light manual changer"
I want to be able to change the light to a certain color. Can you make it so we can use HTML color codes to change the light? I want it to fade slowly between 3 specific colors for chrismas (Red, Green, and Yellow.)
A homebrew app (another repo) that lets you change this would be awesome too!

[2016-12-10 23:35] Robz8 commented on #9
Are you referring to the Notification LED light?

[2016-12-10 23:43] weirdal3333 commented on #9
Yes! It would be really awesome to have an option to change the led so that certain homebrew games had different colors/combinations of colors. You could make a DEFAULT notification color, and then have an option in a game setting (along with the eventual cheat selector) to change THIS GAME'S notification led color.

I also observed that the light stays on after you close the 3ds.

[2016-12-11 01:48] rpalmon opened #10 "[Request] Option to check for updates"
Add option to check for updates as they are frequent.

[2016-12-12 10:22] RubberBrony opened #11 "Frequent crashing on QW1028 New 3DS"
I'm not sure if this issue is specific to me, but if I:

* Attempt to exit Settings
* Attempt to scroll one or more icons down the row
* Switch from Flash Card to SD mode
* Scroll from Settings to any icon,

The application crashes. It doesn't throw any errors in ErrDisp, and nothing but hard-resetting the console by holding the power button or pulling the battery will exit. Whenever it crashes, h

[2016-12-12 22:36] Robz8 commented on #11
A new version of TWLoader has been released. See if the new version fixes your problem.

[2016-12-13 01:02] RubberBrony commented on #11
* No longer crashes after exiting Settings the first time now, but repeated exits will still crash.
* No longer crashes when switching from SD to Flash Card.
* Scrolling still crashes as well, although it only happens when I scroll more than one game over.

It turns out the box art was just misnamed, so the "error" I saw was entirely human error, sorry.

Here's a picture of the crash. It's not ver

[2016-12-13 04:56] Robz8 commented on #11
* Repeated exits don't happen for me.
* That's good.
* Doesn't happen for me.

Looks like you're the only one who has these problems.

[2016-12-13 22:16] Robz8 commented on #11
Is any sound effects playing? If not, that's a sign that it's crashing.

[2016-12-13 22:53] RubberBrony commented on #11
I just installed it on my 2DS, same problems.

Also, I have yet to hear a single sound effect, are there supposed to be some?

[2016-12-13 22:55] Robz8 commented on #11
Yes.

[2016-12-13 22:56] RubberBrony commented on #11
Oh, okay. Does it require a dump of the DSP Firm? I might've deleted my dump by accident, I'll dump it again and then see what happens

[2016-12-13 22:59] RubberBrony commented on #11
That was the problem! I'm sorry for bothering you, it was a major derp on my part.

[2016-12-13 22:59] #11 closed

[2016-12-17 21:11] rpalmon opened #13 "You should take a look at this. It looks like you could play DS roms."
https://github.com/masterfeizz/DeSmuME/releases

[2016-12-17 21:18] Robz8 commented on #13
Thanks, but I used this before,

[2016-12-18 15:19] deadair3210 opened #14 "Flashcard does not appear in list"
I have a R4i 3DS, this one does not have the RTC, and I cannot find it in the list.

Is it supported or is it in the works?

[2016-12-18 19:37] Robz8 commented on #14
It's supported. Try the www.r4i-sdhc.com one.

[2016-12-18 20:39] rpalmon opened #15 "Turns out this is coming this Christmas!"
https://www.youtube.com/watch?v=Pke0kalpoBU

This is an NDS rom player. Once this becomes open source, will you implement it to your project so it will have a nice UI when choosing a rom?

[2016-12-18 20:42] rpalmon commented on #15
https://www.reddit.com/r/3dshacks/comments/5iz5q7/nds_rom_loader_soon/ reddit thread too.

[2016-12-18 20:43] Robz8 commented on #15
Yes! I will implement it.

[2016-12-18 20:48] rpalmon commented on #15
Cool, can't wait! Also, I'm guessing this will be version 2.0 right?

[2016-12-18 20:49] Robz8 commented on #15
Yes.

[2016-12-18 20:49] #13 closed

[2016-12-18 21:14] deadair3210 commented on #14
I'm sorry, but I don't understand, If you are referring to the r4's kernel, then I already have the latest version as of 5 days ago

[2016-12-18 21:20] Robz8 commented on #14
www.r4i-sdhc.com in the list.

[2016-12-19 23:13] deadair3210 commented on #14
Thanks for the help, worked fine

[2016-12-19 23:13] #14 closed

[2016-12-21 00:03] mariogamer2 opened #16 "dependencies needed for building?"
I already know devkitkarm,but some library still needed. I cannot build everything with it. Does it need some thing like citrus or anything?

[2016-12-21 00:06] Robz8 commented on #16
You need to install sf2lib, portlibs, sftdlib and sfillib.

[2016-12-21 00:47] mariogamer2 commented on #16
portlibs must contain what exactly? The base from sourceforge?

[2016-12-21 00:49] Robz8 commented on #16
https://github.com/xerpi/3ds_portlibs

[2016-12-22 02:28] mariogamer2 commented on #16
Can I use the "official" portlibs?

[2016-12-22 22:17] Robz8 commented on #16
You need ahezard's libnds.

[2016-12-22 22:39] mariogamer2 commented on #16
Ok thank I'll test soon.

[2016-12-22 22:55] rpalmon commented on #16
I would like to try building it too. How do I install sf2lib, portlibs, sftdlib and sfillib?

[2016-12-23 00:01] Robz8 commented on #16
README has been updated.

[2016-12-23 00:23] mariogamer2 commented on #16
Just like this... bootstrap-dldi from sdroot/_nds folder is more long than bootstrap.nds given by building twlapp. From what does he came?

[2016-12-25 10:45] OctoNezd opened #18 "Always shows empty battery"

[2016-12-25 17:47] Robz8 commented on #18
Sadly, I have no idea how to fix this.

[2016-12-25 19:22] Jolty95 commented on #18
@Robz8 just an estupid question: in this line
https://github.com/Robz8/TWLoader/blob/master/source/main.cpp#L2640
`PTMU_GetBatteryLevel(&batteryLevel)` is a value between 0-5. Shouldn't you just compare with an equal instead of a R_SUCCEEDED?

[2016-12-25 22:18] Robz8 commented on #18
Your code fixed the issue! Thanks!

[2016-12-25 22:18] #18 closed

[2016-12-26 03:37] rpalmon opened #20 "I suggest not to make version numbers like 1.6.0b"
Hello, the reason I am asking this is because when I went to the homebr3w browser app on 3DS, when I search this app, it says that it is on the latest version which says 1.6.0.   Not 1.6.0b. I would maybe suggest changing it to 1.6.1 or 1.7.0.

I am asking this because I would like to update this app when I don't have my computer around me.

[2016-12-26 03:54] Robz8 commented on #20
I didn't have time to do any actual changes to the GUI.

[2016-12-26 03:55] rpalmon commented on #20
Can you maybe change the version number to 1.6.1 so that homebr3w browser could see that it updated?

[2016-12-26 04:00] Robz8 commented on #20
Fixed.

[2016-12-26 04:06] rpalmon commented on #20
For some reason homebr3w browser still says that there isn't an update.

[2016-12-26 17:20] rpalmon opened #21 "Run DSi System Apps?"
Hello, so I found some system apps like DSi photos and DSi sound. They were dumped as NDS and CIA from the DSi. Do you think you could make it so we could run them? You could find it on the ISO site by searching NDS system titles or something like that.

[2016-12-26 18:45] #15 closed

[2016-12-28 04:01] mariogamer2 commented on #16
So?

[2016-12-28 04:38] Robz8 commented on #16
So what?

[2016-12-28 10:13] YodaDaCoda commented on #20
Homebr3w doesn't go by version numbers. It uses TitleDB's API, which tells when an update was last released. You can expect TitleDB to lag somewhat.

[2016-12-28 10:47] mariogamer2 commented on #16
My last question.

[2016-12-28 14:56] Robz8 commented on #16
What file built bootstrap.nds?

[2016-12-28 15:03] mariogamer2 commented on #16
sdroot/_nds/bootstrap_dldi.nds (or card) is a bit shorter thatn generated twlapp/bootstrap.nds (here,I think it's not the same thing?) and generating from initial nds-bootstrap give a file longuer...

[2016-12-28 20:37] hectortillo opened #24 "GBA"
Can be used gbaemu4ds instead of gbarunner for better compatibility? I will try it. But i dont know mucho of programing (excuse me for my bad english)

[2016-12-28 21:34] hectortillo commented on #24
It doesnt run. I will close this. Its a bad idea. Excuse me.  And thanks :D thanks for your hard work :D

[2016-12-28 21:36] #24 closed

[2016-12-30 07:39] Robz8 commented on #10
An option to download the latest TWLoader has been added.

[2016-12-30 07:39] #10 closed

[2016-12-30 21:08] #20 closed

[2017-01-03 18:42] Jolty95 opened #27 "[REQUEST] Add return statement to downloadfile method"
I think you could add a return statement to downloadfile method to control when a download was no correctly done.
Thanks

[2017-01-04 03:13] hectortillo opened #28 "2.1.1 bug?"
Crashes at start (after dldi download)

[2017-01-04 03:14] Robz8 commented on #28
How many .nds files you have?

[2017-01-04 03:56] Robz8 commented on #28
Did you download the CIA in the Settings screen? I just now put up the right CIA for download.
If it still crashes, download the release here.

[2017-01-04 04:40] hectortillo commented on #28
im going to uninstall twloader and delte older folders and will try again . in a few minutes i will report :)

[2017-01-04 04:48] hectortillo commented on #28
it continue crashing, im not sure if its a failure in my 3ds or something (older versions had perfect functionality)

[2017-01-04 04:55] hectortillo commented on #28
now it works
i found the problem, i had gbarunner2 in the nds roms folder, possibly it crashes when dont found any nds icon, excuse me for the inconvenience :o excelent work Robz8 :D thank you for all your hard work :) should i close this issue? and open another with the new issue problem? :o

[2017-01-04 04:56] Robz8 commented on #28
Actually, if there's no icon, a question mark is used in place.

[2017-01-04 04:57] hectortillo commented on #28
im going to try again putting my older nds roms

[2017-01-04 05:09] hectortillo commented on #28
now all works good it have worked again after i have delted my older nds roms and i have tryed every single old archive to verify the problem but i cannot find anything, i will try again but excuse , now all works perfectly, sorry again, thank you very much for your hard work Robz8 :)

[2017-01-04 05:11] Robz8 commented on #28
You're welcome. :)

[2017-01-04 05:11] #28 closed

[2017-01-05 20:13] #27 closed

[2017-01-06 21:25] rpalmon opened #34 "Built in FTP Server for File Transfer?"
Hello, as a New 3DS XL owner, it is a pain having to unscrew the back of the new 3ds xl to get to the microSD card, especially when not having a microSD card reader around me some times..

It would be great if you had an option for an FTP server so I could transfer homebrew to my microSD card with the default location to where the folder for where the NDS files go.

[2017-01-06 21:44] Robz8 commented on #34
You can just use 3DS System Settings, and go to "Data Management>microSD Management".

[2017-01-06 21:45] rpalmon commented on #34
I know. It would just be more convenient.

[2017-01-07 19:08] mariogamer2 commented on #16
sdroot/_nds/bootstrap-dldi.nds (or card) is a bit shorter thatn generated twlapp/bootstrap.nds (here,I think it's not the same thing?) and generating from initial nds-bootstrap give a file longuer (like + 600 kb)...

Anything?

[2017-01-07 19:31] Robz8 commented on #16
Ignore the "twlapp/bootstrap.nds" file, if it's generated. I'm not getting that file.

[2017-01-08 00:18] The1andONLYdave opened #39 "Homebrew cant access sdcard?"
Tried with: tyrian 0.3 ( http://gamebrew.org/wiki/OpenTyrian_ds )
Or do I have to put the files, which the homebrew looks for in sdcard root, in some of TWLoader's subfolders?

Other roms work fine, tried a dumped version of a non-homebrew game.
11.0.2-35 EU
Latest TWLoader (both cia installed)
Latest Luma and a9loader

[2017-01-08 00:21] Robz8 commented on #39
Try the unofficial build of bootstrap.

[2017-01-08 11:25] Favna opened #40 "[Future Requests] Two small folder restructures"
1. Do not make TWLoader create the `_dsttfwd` and `_dstwofwd` folders automatically as empty folders. Many people in the community care about an as clean as possible SD card, especially root. Having a tool consistently create two empty folders that otherwise completely useless to them is very frustrating. I'm saying hey are useless to them because they are only useful to the person that has either

[2017-01-08 12:22] The1andONLYdave commented on #39
Thank you, working fully with unofficial build 👍 And thank you for this great Launcher.

[2017-01-08 12:22] #39 closed

[2017-01-09 16:59] NinjaBoyLao opened #45 "TWLoader crashes when auto-updating the GUI CIA now"
Title. It'll go through "updating gui cia" to "downloading bootstrap", and then it just kicks me back to the home menu. editing my settings ini to NOT auto download & install the gui cia lets me boot just fine

[2017-01-09 22:46] Robz8 opened #47 "TWLoader crashes when reading banner icons from .nds files"

[2017-01-09 22:57] Jolty95 commented on #47
That not completly true. I'm using a O3DS XL and is working fine

[2017-01-10 12:40] Jolty95 opened #50 "TWLoader crashes with roms with custom banner/icon"
Titles say all

[2017-01-10 17:51] Jolty95 commented on #50
https://github.com/Robz8/TWLoader/issues/47

[2017-01-10 17:51] #50 closed

[2017-01-11 02:43] NinjaBoyLao commented on #40
Even better: leave all 4 folders as their own separate entities, just shove them all inside /TWLoader. Many apps can't seem to agree which folder to use, /3ds/data/ or /AppName, so just go with the majority here

[2017-01-11 20:02] Radiantarchon opened #54 "I get a weird splash screen"
On both screens it just says homebrew.

[2017-01-11 20:08] Jolty95 commented on #54
This is not an issue. Due to Nintendo DMCA freeshop, all homebrew are changing their splashcreens from 3ds logo to homebrew logo

[2017-01-11 20:18] Radiantarchon commented on #54
oh. are you going to put a custom one like  fbi did. it triggers my ocd a little

[2017-01-11 20:18] #54 closed

[2017-01-13 18:30] Favna commented on #40
I see this was partially covered in 12b779f4f9523ab988e66bc4d23b26478703a26c but that still leaves the /roms folder

[2017-01-13 19:56] NinjaBoyLao commented on #45
It's still doing this with auto-update enabled on my o3DS XL. (the only 3ds i have, i forgot to specify)

[2017-01-13 19:58] Robz8 commented on #45
It'll be fixed in a future release.

[2017-01-13 20:12] NinjaBoyLao commented on #45
my bad. I thought it said this was fixed in the last release notes

[2017-01-13 20:17] Robz8 commented on #45
I mean it always download the latest version, regardless if you are using the latest version.

[2017-01-14 06:29] SplatMan333 opened #55 "Error has occured when loading nds games with twloader"
Hi, when whenever I play my games, Super Mario 64 DS and WarioWare: Touched!, My system says error has occured. This happens when try to launch the games. Plz Help! Thanks!

[2017-01-14 06:34] Robz8 commented on #55
Try again. It'll happen sometimes.

[2017-01-14 06:34] SplatMan333 commented on #55
Thanks!

[2017-01-14 06:35] Robz8 commented on #55
What I meant to say was, did you follow step 3 in the guide?

[2017-01-14 06:36] SplatMan333 commented on #55
yes

[2017-01-14 06:40] Robz8 commented on #55
Are you using Luma3DS CFW?

[2017-01-14 06:41] SplatMan333 commented on #55
No, I'm using ReiNAND Sysnand sig patch on 9.2 New 3DS USA

[2017-01-14 06:50] Robz8 commented on #55
ReiNAND is an outdated CFW. Switch to Luma3DS, as it fixes the problem.
https://github.com/AuroraWright/Luma3DS/wiki/Installation-and-upgrade#upgrading-from-arn-43-or-older-to-luma3ds

[2017-01-14 11:22] Hotbrawl20 opened #56 "GBArunner2 doesn't work"
I put the bios in the root, gba rom is called runner.gba . It showsthe bootscreen (Gameboy) and then it hangs. rom is scram patched

[2017-01-14 19:13] Robz8 commented on #56
Some roms don't work.

[2017-01-14 23:22] RubberBrony opened #58 "Claims to be Checking Version, yet hangs indefinitely"
Whether set to check for updates on launch, or through the Settings menu, TWLoader stops entirely.
I've waited at least 30 minutes for both selections, and tried other WiFi networks.
I am on the current version (2.3.1 as of writing this).

If you need more information, I'll gladly provide!

[2017-01-14 23:25] Robz8 commented on #58
That'll be fixed in the next release.

[2017-01-14 23:26] Margen67 commented on #55
Also switch to A9LH if you haven't already http://3ds.guide/

[2017-01-15 02:21] Multipixelone commented on #58
How do I fix this for now? Can I edit a file??

[2017-01-15 06:53] rpalmon opened #62 "App Volume Detects Wrong for 2DS"
There is a bug where I have the volume up on the 2DS but the application does not make any SFX.

Also, is there a way I could use my Blue Gateway Card with this? How?

[2017-01-15 07:03] GerbilSoft commented on #62
Does the volume indicator in TWLoader show an X on the speaker icon? If so, you'll need to dump the DSP firmware.

Run DspDump from Homebrew Launcher: https://github.com/Cruel/DspDump

Gateway Blue Card is supported using the Ace 3DS+/Gateway Blue Card/R4iLS/R4iTT forwarder pack. (See the first post in the TWLoader thread: https://gbatemp.net/threads/twloader-ctr-mode-nds-app.448375/)

[2017-01-15 07:06] maorninja commented on #24
https://docs.google.com/spreadsheets/d/1M7MxYQzVhb4604esdvo57a7crSvbGzFIdotLW0bm0Co/edit#gid=1412086532 It actually does now.

[2017-01-15 09:28] Jolty95 commented on #62
All is in the Wiki. Please, read it

[2017-01-15 11:49] chronoss09 opened #63 "Can't load game from my flashcard (R4 Dual-Core) in TWLoader menu"
I want use all game for my flashcar but it can't appeart in TWLoader menu, where can i get the "ROM INIs" file to put on flashcard folder ?

[2017-01-15 12:00] chronoss09 opened #64 "Load GBA roms"
It's possibl to make a guide for how to launch a GBA rom ?

[2017-01-15 12:01] Jolty95 commented on #63
Read the wiki. Is all there.

[2017-01-15 12:01] #63 closed

[2017-01-15 12:09] Jolty95 commented on #64
I haven't create it because gba roms loading is not very stable right now. But basically you need to put your rom as `runner.gba` and `bios.bin` in `SD:\` 's root

[2017-01-15 12:20] FirkePizdek69 commented on #58
Your latest release says it is confirmed that the issue is fixed, but my 3ds still hangs on that screen, the only way i can get into twloader is by turning of wireless connection on my 3ds and turning off latest twloader check in twloader settings

[2017-01-15 14:19] Lykie opened #67 "Game doesn't seem to load no matter what I try and is supported."
Latest TWLoader version, changing settings each try. SM64DS which worked yesterday with nds-hb-menu will not work with TWLoader. I did not change the bootstrap file.

[2017-01-15 14:20] Flubbex opened #68 "Forwarder.jar doesn't work on Linux"
Scenario: Terminal -> java -jar Forwarder3DS.jar
Error: Could not find or load main class com.olmectron.forwarder.Forwarder3DS
Issue: Not becoming a Java developer just to figure out how to run a dumb .ini generator.
Solution: Fix the .jar provided in the wiki so I don't have to waste 2 hours of my life studying cryptic Java docs and still not have it run.

[2017-01-15 14:24] Lykie commented on #67
Fixed issue.

[2017-01-15 14:24] #67 closed

[2017-01-15 14:25] Jolty95 commented on #68
What Java version are you using?
AFAIK Forwarder use **JAVA 8**

[2017-01-15 14:38] chronoss09 commented on #64
It doesn't work. I test with 2 rom and i get a freeze....

[2017-01-15 14:39] Jolty95 commented on #64
GBA rom loading is not very stable right now. Also, most roms doesn't work neither

[2017-01-15 14:39] Flubbex commented on #68
Same error on 7 as well as 8 (OpenJDK). Some difference in how openjdk handles .jar files?

[2017-01-15 14:41] Jolty95 commented on #68
I can't tell you how openjdk handles then because I think source code of forwarder is not public. I can tell you to install JavaFX because is needed as show [here](https://gbatemp.net/threads/nds-forwarder-cias-for-your-home-menu.426174/)

[2017-01-15 14:44] Flubbex commented on #68
Works perfectly fine now, thank you! Might want to add to the wiki that you need JavaFX (OpenJFX on Arch) to make it work.

[2017-01-15 14:44] #68 closed

[2017-01-15 18:19] Abastante commented on #55
I have the same issue when trying to load SM64. I'm on Luma3ds on emunand. Any clue what could be happening?

[2017-01-15 18:25] mariogamer2 commented on #16
So from where it come? (the sdroot/_nds/bootstrap.nds)

[2017-01-15 19:39] Margen67 commented on #55
Well there's your problem. You need to switch to A9LH SysNAND.

[2017-01-15 20:04] Abastante commented on #55
I don't understand. Why would the installation instructions even say the following it it works on A9LH only?

(This step is required. An error screen will appear if this isn't installed.) Install "TWLoader - TWLNAND side.cia" that's in "sdmc:/_nds/twloader/cia/" to SysNAND (also to EmuNAND, if you have EmuNAND).
Install "TWLoader.cia" to whichever NAND you use (SysNAND or EmuNAND).

[2017-01-15 20:56] Margen67 commented on #55
You need to follow http://3ds.guide/

[2017-01-15 21:41] Robz8 commented on #16
A compiled bootstrap.

[2017-01-15 22:27] #47 closed

[2017-01-15 23:35] #56 closed

[2017-01-16 03:58] deadair3210 commented on #58
Agreed, check still freezes the entire system, have to hard reboot

[2017-01-16 06:52] GerbilSoft commented on #21
Some DSi system applications can be installed directly to TWL NAND, e.g. PictoChat. Camera and Sound might be installable as well.

Do note that 3DS Camera and 3DS Sound are basically the same thing, but better.

[2017-01-16 08:37] deadair3210 opened #71 "Boxarts are not downloading"
When the app starts, it checks for and looks to download the boxarts for my roms that are on my flashcard, but everything in the menu is listed as No Info with a black box with a ? mark

[2017-01-16 13:11] GerbilSoft commented on #71
If you have flashcard INIs from v2.3.1.or earlier, they don't have the required information for boxart download (the title OD). You'll need to delete the INIs and recreate them using the "Add Games" function.

[2017-01-16 14:37] Jolty95 opened #72 "TODO: if boxart .png exist, do not re download it"
Just write here if I forget to add it

[2017-01-16 15:59] deadair3210 commented on #71
I have the ini's created by the latest version of the tool, i can upload one if that would help

[2017-01-16 16:17] Robz8 commented on #72
That's already done.

[2017-01-16 16:21] deadair3210 commented on #71
Just regenerated the ini for one of my games, all that is in the ini is NDS_PATH and BNR_TEXT 1 through 3

[2017-01-16 16:25] Robz8 commented on #71
Don't use Forwarder3-DS to create the .inis.

[2017-01-16 16:35] deadair3210 commented on #71
![sfdsac](https://cloud.githubusercontent.com/assets/1053504/21991272/81500362-dbd7-11e6-9f0a-914af144889a.PNG)

[2017-01-16 16:38] Robz8 commented on #71
The instructions are out of date.

[2017-01-16 16:40] deadair3210 commented on #71
So what should I use?

[2017-01-16 16:43] Robz8 commented on #71
Use the "Add Games" function, like GerbilSoft said.
If it's not working for your flashcard, then please wait 'til it gets supported.

[2017-01-16 16:45] deadair3210 commented on #71
Sorry, I guess I'm still half awake and didnt read that all the way. Thanks!

[2017-01-16 16:47] Valeri0p commented on #55
@Robz8 Please disinfect from the troll.
@Abastante Be sure to follow the directions on the FAQ, and considers an update of your environment.

[2017-01-16 16:54] deadair3210 commented on #71
How do you use the Add Games functionality exactly, I have a R4i 3DS, but when I hit Add Games, it launches YSMenu and then I select a game, and the game launches. If I hit home and restart, and then launch TWLoader the game isnt there

[2017-01-16 16:57] Robz8 commented on #71
Update the pack for your flashcard.

[2017-01-16 16:58] deadair3210 commented on #71
Was there an update yesterday? I just set up the card yesterday

[2017-01-16 17:00] deadair3210 commented on #71
I downloaded the pack for the R4i SDHC as you had told me to use it before on the list in the app, since my card is not mentioned by name

[2017-01-16 17:04] Valeri0p opened #74 "[maybe a bug] TWLoader crashes if there is no rom in the SD."
Hi, sorry for my English, but maybe i founded a bug in the app.
Start TWLoader without any rom in the SD:\roms\nds\ folder make it crash. It first says in the topscreen " No games found! Put .nds...", then it freeze, and after that it send you to the "An error as occured, please restart...".
Put a rom in the folder seem to fix that.
I'm using v2.4.2, with luma 3ds 6.6 on a9lh, I have installed bot

[2017-01-16 17:04] Robz8 commented on #71
DSTT/R4i-SDHC?

[2017-01-16 17:05] pbanj commented on #55
@Valeri0p its not trolling if he's right. Just because you don't like what he is saying doesn't make him a troll.

[2017-01-16 17:07] Abastante commented on #55
So there is no way to run this on Emunand? I don't understand why would @Robz8 add "3. (This step is required. An error screen will appear if this isn't installed.) Install "TWLoader - TWLNAND side.cia" that's in "sdmc:/_nds/twloader/cia/" to SysNAND (also to EmuNAND, if you have EmuNAND)." to the installation guide it it doesn't work on Emunand.

[2017-01-16 17:10] DimitriDokuchaev commented on #55
Abastante Why are you so keen on running that on Emunand, just update your setup and follow the guide Margen67 posted.

[2017-01-16 17:12] crazc commented on #55
Upgrading to A9LH or pretty much just anything not EmuNAND would allow you to use this.

[2017-01-16 17:16] deadair3210 commented on #71
I have the R4i-3DS, and I downloaded the R4i-SDHC package(DS Game Forwarder pack (DSTT, R4i Gold, R4i-SDHC, SC DSONE).7z)

Here is a pic of my flashcard
![img_20170116_111318](https://cloud.githubusercontent.com/assets/1053504/21992702/13ba6396-dbdd-11e6-818f-6817ec042a98.jpg)

[2017-01-16 17:17] Robz8 commented on #71
Is TTfwd.dat 228KB?
If so, then it should work. Make sure you also have TWLoader v2.4.2.

[2017-01-16 17:18] Abastante commented on #55
LOL Don't judge me guys. I'm just afraid of losing my games progress and shit. I mean, my console works perfectly on Emunand and just going through all that pain to play NDS games doesn't seem to worth the trouble. I donno.

[2017-01-16 17:20] crazc commented on #55
Part of the process of installing A9LH involves backing up your game saves, and every game you have installed currently can be installed again.

[2017-01-16 17:20] cheuble commented on #55
If you know how to read a guide, you'll not brick, keep your saves, and enjoy A9LH's features! @Abastante

[2017-01-16 17:21] DimitriDokuchaev commented on #55
You won't lose anything if you read the guide correctly @Abastante , read it once make sure you understand the steps before doing it, it's so really simple, just follow the bullet instructions.

[2017-01-16 17:22] deadair3210 commented on #71
TTfwd.dat is in fact 228 KB and I do have 2.4.2

Is there anything I can maybe run or do to help figure out what is happening?

[2017-01-16 17:25] Robz8 commented on #71
Extract what's in the "flashcardroot" folder to the flashcard root.

[2017-01-16 17:26] deadair3210 commented on #71
![6352](https://cloud.githubusercontent.com/assets/1053504/21993074/9c4bb18c-dbde-11e6-9d4e-da81bd5109bd.PNG)

[2017-01-16 17:28] Robz8 commented on #71
The "flashcardroot" folder is in the TWLoader 7z file.

[2017-01-16 17:31] TheKingy34 commented on #55
@Abastante: >Loosing progress and shit
It's _**SUPER, SUPER**_ simple to use the guide, this is how to be 100% safe using the guide:
1. Read.
It's super simple, I've done it like 4-5 times and I haven't lost anything

[2017-01-16 17:32] deadair3210 commented on #71
![fgnhgn](https://cloud.githubusercontent.com/assets/1053504/21993228/663a2294-dbdf-11e6-8e0d-4a9eaf0f1d00.PNG)

[2017-01-16 17:39] Robz8 commented on #71
Correct. Put the "_nds" folder containing "twloader.nds" in the flashcard root.

[2017-01-16 17:44] deadair3210 commented on #71
Don't know how I missed putting those on the flashcard! Thanks! Working perfectly now. One last question, is there any way to add a entire folder at a time?

[2017-01-16 17:45] Margen67 commented on #55
You can, but you shouldn't. EmuNAND is a waste of time, and space unless you're using it for:
Getting around the title limit (~300)
Region change
NAND experiments/development

Gateway can be launched as a payload on A9LH.
the only useful thing Gateway provides is more convenient cheats.
The cheats can be converted for use in NTR and 3ds/3dz roms can be converted to CIA.
Which is more convenient an

[2017-01-16 17:56] pbanj commented on #55
https://3ds.guide/move-emunand holy shit look at that you can move your emunand to your sysnand and keep everything. it's almost like the guide thought of users who already had a set up before a9lh.

[2017-01-16 18:03] #71 closed

[2017-01-16 18:04] Jolty95 commented on #72
I'm still gettings boxarts download when I use my own boxarts

[2017-01-16 18:07] Robz8 commented on #72
Oh, ok. It currently only checks the boxart by game TID instead of filename for now.

[2017-01-16 18:09] Jolty95 commented on #72
Are you going to include to search by filename too or just rename my box arts to TID?

[2017-01-16 18:50] Abastante commented on #55
Thank you guys!! You gave me the courage to give this a try. I'm totally confident that I can go through this. It just that I didn't think it was worth it but I've been checking out some vids and I like how fast it boots and all that shit.
I'll let you know the outcome!

[2017-01-16 19:00] pbanj commented on #55
for the love of god do NOT follow a god damn video guide.

[2017-01-16 19:07] Abastante commented on #55
hahahah I won't. I'll stick to the guide you guys gave me. I'm experienced following these guides. I've been installing CFW on consoles since the PSP time, but as I got older I started losing interest on getting the LATEST one and I only do this shit when cornered. But in this case, I'll do it to feel young again wiii.

[2017-01-16 22:54] hectortillo commented on #24
Thanks maorninja :) :D :)

[2017-01-17 02:32] Abastante commented on #55
All right guys! I frikin did it! Thanks so much for your help. Mario64 is working now and my console is better than ever.
Thanks for pushing me into this :D

[2017-01-17 03:45] Robz8 opened #76 "Get banner data from Slot-1 card (NTR/TWL done, CTR also done (text only))"
The code is in here:
https://github.com/Steveice10/FBI/blob/master/source/ui/section/task/listtitles.c#L139
But I have no idea what parts of the code to copy over.

[2017-01-17 03:53] Robz8 commented on #76
@GerbilSoft Do you want to look into this?

[2017-01-17 05:27] Robz8 commented on #74
This will be fixed in the next version.

[2017-01-17 05:37] Valeri0p commented on #74
Perfect 👍
Excuse for the spam, but you can also read my post on the ['temp](https://gbatemp.net/threads/twloader-ctr-mode-nds-app.448375/page-112#post-7019527) thread?
Thanks :)

[2017-01-17 10:31] Jolty95 commented on #76
I tried it too but didn't success to read it :(

[2017-01-17 12:16] adrifcastr opened #80 "Text too long in settings screen"
The German: "Press Home Button to return" is definately too long for the touchscreen, you should make it a little smaller to fit correctly

[2017-01-17 17:23] GerbilSoft commented on #76
This is already being done as part of the Slot-1 icon PR. It's not being cached because there isn't much point in doing so.

CTR Slot-1 banners aren't being read yet because they're in a different format (SMDH).

[2017-01-18 00:50] d0k3 opened #81 "Allow to use english language even if translation is available"
The german one is pretty bad, and I'd rather stay with the english one. Actually, a lot people may think that way.

@GerbilSoft tagged as requested!

[2017-01-18 01:58] GerbilSoft opened #82 "twlnand-side and NTR_Launcher don't compile with devkitARM-r46"
Attempting to compile these results in the following linker errors:

twlnand-side:
[code]

NTR_Launcher:
[code]

devkitARM r46 changed the way TWL images are linked, so these need to be updated.

devkitARM r45 still works for now.

More information: http://devkitpro.org/viewtopic.php?f=13&t=8643

[2017-01-18 05:47] #81 closed

[2017-01-18 08:43] Margen67 opened #84 "Unsure which forwarder to use for R4i Gold 3DS/RTS"
There's forwarders for R4i-SDHC RTS, and R4i Gold.
But what I have is this: http://www.r4ids.cn/r4ds/r4i-rts1.jpg
So which one do I use?

[2017-01-18 14:53] Robz8 commented on #84
Use the one that says "R4i-SDHC RTS".

[2017-01-18 20:59] Robz8 commented on #72
We'll see.

[2017-01-19 15:27] Margen67 opened #86 "Daily/hourly/nightly builds"
Like ~~[bootstrap](https://labs.projectkaeru.xyz/bootstrap/) and~~ [Luma](https://astronautlevel2.github.io/Luma3DS/)

[2017-01-19 17:49] Margen67 commented on #84
I'm using that pack but I'm having problems.
I've extracted the files to the root of the flashcart SD but when I go to "Add games" it goes to the flashcart menu with no text visible. I can still navigate the menu with the touch screen and dpad. It takes a few seconds for the icon to animate.
When I press A or tap the game I want to make a forwarder for it launches the game.
When I go back to the h

[2017-01-19 18:16] Robz8 commented on #84
Download this: https://github.com/Robz8/TWLoader/raw/master/7zfile/sdroot/_nds/twloader/loadflashcard/r4idsn.nds
and put it into "sdmc:/_nds/twloader/loadflashcard/", replacing the existing file.

[2017-01-19 22:28] Margen67 commented on #84
Still the same.

[2017-01-19 22:33] Robz8 commented on #84
Check "lastsave.ini" in the flashcard SD, at "sd:/_wfwd/".

[2017-01-19 22:36] Margen67 commented on #84
`[Save Info]
lastLoaded = fat0:/0434 New Super Mario Bros. (US).nds
`

[2017-01-19 22:39] Robz8 commented on #84
Did you also extract the "_nds" folder in TWLoader.7z's "flashcardroot" to the flashcard root?

[2017-01-19 23:06] Margen67 commented on #84
It works now but after creating an ini file I restart and go back to TWLoader and it's not listed.

[2017-01-21 00:40] Margen67 commented on #84
@Robz8 Would it be possible to manually create .ini files?

[2017-01-21 00:49] Robz8 commented on #84
If they're manually created, TWLoader won't get the box art for them, unless you know what the game's TID is, and set it to TID in the .ini file.

[2017-01-21 00:50] Robz8 commented on #84
Are you sure there is no .ini file created at "sdmc:/roms/flashcard/nds/"?

[2017-01-21 01:16] Margen67 commented on #84
I removed it TWLoader by deleting the title+ticket and deleting the files from the flashcart MicroSD and the 3DS SD and reinstalled everything etc but now TWLoader starts up but instantly crashes with
[code]

[2017-01-21 01:18] Robz8 commented on #84
Well, wait for the next release, then.

[2017-01-21 01:27] Margen67 commented on #84
Are there any hourly builds like Luma?

For future reference etc:
11.2 updated SysNAND N3DS with https://github.com/AuroraWright/Luma3DS/commit/ff4517e58337a83a26444905799e532e52d0d36a launched from CTRNAND using https://github.com/AuroraWright/arm9loaderhax/commit/803955521ac22345d500c65c95ea0d368d317d35

Clean TWL_FIRM, no emuNAND on the 3DS's SD card.
It's a clean install since as mentioned bef

[2017-01-21 01:27] #84 closed

[2017-01-21 15:43] Hakujou commented on #86
Available at my server if you want : https://jenkins.hakujou.fr/job/3DS/job/TWLoader
(The latest builds are broken, not sure of why)

[2017-01-21 16:05] Hakujou opened #87 "Wrong name for twlapp-hb.elf on arm9"
Hi,

The makefile generates a "twlapp-hb.elf" file on twlnand-side/arm9 where it probably should generate a "TWLapp-hb.elf". It probably works on Windows as it's not case-sensitive, but compilation is broken on Unix systems.

Build log available at : https://jenkins.hakujou.fr/job/3DS/job/TWLoader/32/console

[2017-01-21 17:33] Robz8 commented on #87
Will fix it.

[2017-01-21 17:40] Robz8 commented on #86
How so?

[2017-01-21 17:43] Hakujou commented on #86
It can't build as it's a Linux (case-sensitive) server, as mentioned on #87.

[2017-01-21 17:57] Robz8 commented on #87
And it's fixed.

[2017-01-21 17:59] Hakujou commented on #87
Confirmed, no error on build.

[2017-01-21 17:59] #87 closed

[2017-01-21 19:24] Margen67 commented on #86
Since both of these issues are solved can this be closed?

[2017-01-21 19:25] Hakujou commented on #86
You can as you're the one who created it.

[2017-01-22 06:21] rpalmon opened #89 "After Updating to 3.0, TWLoader Crashes"
So I updated TWLoader to 3.0 but now when it finishes downloading box art and updates bootstrap (unofficial) it crashes.

[2017-01-22 06:22] rpalmon commented on #89
Then restarting the system

[2017-01-22 06:24] Robz8 commented on #89
Did you specify your rom paths?

[2017-01-22 06:28] rpalmon commented on #89
I'll check that tomorrow as I dont have my computer on me.

[2017-01-22 06:33] Bryguy5849 commented on #89
Mine crashes when going through my games and only crashes when it gets to a specific game. Any idea what's causing this?

[2017-01-22 06:38] Robz8 commented on #89
Try clearing the following folders:
"sdmc:/_nds/twloader/boxart/"
"sdmc:/_nds/twloader/bnricons/"
"sdmc:/_nds/twloader/boxart/flashcard/"
"sdmc:/_nds/twloader/bnricons/flashcard"

[2017-01-22 06:48] Bryguy5849 commented on #89
That didn't work

[2017-01-22 06:49] Robz8 commented on #89
Sorry. I can't fix it if I'm not getting the crash.

[2017-01-22 06:49] Bryguy5849 commented on #89
More specifically I'm in the menu, and it crashes when when I'm going through my nds files

[2017-01-22 06:50] Bryguy5849 commented on #89
This only started happened after updating? It's your app, you can't just not fix it if it's not working properly. Well you could but that'd be sad haha

[2017-01-22 06:54] DarthVitrial commented on #89
I'm having this issue too when it reaches a specific game, only in this version. Is there a way to create a crash dump for diagnostics?

[2017-01-22 06:57] Robz8 commented on #89
In Luma settings, set Dev features to ErrDisp.

[2017-01-22 07:00] Robz8 commented on #89
Are you three using O3DS'?

[2017-01-22 07:02] Bryguy5849 commented on #89
I'm doing a %100 fresh install. I'll update you in a second my friend!

[2017-01-22 07:03] Bryguy5849 commented on #89
Now I'm just straight crashing at the logo. I'm on o3DS LumaAl9h

[2017-01-22 07:08] Bryguy5849 opened #90 "o3ds TWloader v3.0 crash after fresh install"
At first it auto updated and everything went smoothly and I was able access the app and check all the new features, then it froze and booted me back to the home menu when getting to about the 7th game on my flashcard list. I deleted all twloader folders and directories and tried to clean install v 3.0 and now it just crashes at the logo after a few seconds.

[2017-01-22 07:10] DarthVitrial commented on #89
Nope, n3DS.
Here's the crash dump from Luma:
https://mega.nz/#!0gsBmI5Q!Tu48seEmk5kyX8SX66vq27iixjNxq-VARvvlW6BSaac

[2017-01-22 07:11] Robz8 commented on #90
I can't seem to fix this.

[2017-01-22 07:14] Bryguy5849 commented on #90
Ok,no worries. Any idea what may be causing it? Its got to be some sort of imcompatibility somewhere

[2017-01-22 07:15] Bryguy5849 commented on #90
Im now trying updating from a clean install of an older version (2.4.2)

[2017-01-22 07:24] Robz8 opened #91 "[HELP!] Crashing in v3.0."
This is strange, because I'm not getting the crash at all.

[2017-01-22 07:32] Bryguy5849 commented on #91
I can't even use v.3 :( and this is definitely my favorite app right now. I don't what to do or how to troubleshoot, I've tried everything

[2017-01-22 07:34] DarthVitrial commented on #91
I posted my crash dump in the other thread, if that helps.

[2017-01-22 14:41] Koopzington commented on #34
@rpalmon no need for such a thing when there already is https://github.com/mtheall/ftpd

[2017-01-22 15:36] maorninja commented on #91
[crash_dump_00000012.zip](https://github.com/Robz8/TWLoader/files/722036/crash_dump_00000012.zip)
[log.zip](https://github.com/Robz8/TWLoader/files/722037/log.zip)

The top one is my crash dump from ERRDISP and my bottom one is my log.ini

BTW, Internet doesn't work.

[2017-01-22 16:16] Lykie opened #93 "bootstrap/ntr-launcher seems to cause a crash if the icon comes on screen"

[2017-01-22 16:31] JBoughter commented on #91
I've got 2 crash dumps from 3.0 and my log.
[log.zip](https://github.com/Robz8/TWLoader/files/722067/log.zip)
[arm11.zip](https://github.com/Robz8/TWLoader/files/722064/arm11.zip)

[2017-01-22 17:29] crayman122 opened #94 "Crash in 3.0 N3DS LumaCFW A9LH 11.2.0-35U"
Just crashes on load. Unable to provide dumps.

[2017-01-22 18:17] Hakujou opened #95 "Can't build gui"
Hi,

Build is broken again with latest builds when it tries to build gui : https://jenkins.hakujou.fr/job/3DS/job/TWLoader/35/console

Any idea to fix that ?

Thanks

[2017-01-22 18:54] mariogamer2 commented on #91
[log.zip](https://github.com/Robz8/TWLoader/files/722166/log.zip)
[crash_dump_00000001.zip](https://github.com/Robz8/TWLoader/files/722169/crash_dump_00000001.zip)

It's probably the same file,you probably have to check.

[2017-01-22 19:07] Margen67 commented on #90
Duplicate of #91

[2017-01-22 19:07] Margen67 commented on #89
Duplicate of #91

[2017-01-22 19:07] Margen67 commented on #94
Duplicate of #91

[2017-01-22 19:09] Margen67 commented on #55
@Robz8 @Abastante You can close this now. It's been solved.

[2017-01-22 19:11] Margen67 commented on #93
Possible duplicate of #91

[2017-01-22 19:13] Margen67 commented on #95
Try building with devkitARM r45 #82

[2017-01-22 19:14] Margen67 commented on #74
Since 3.0 is released can this be closed now?

[2017-01-22 20:05] Hakujou commented on #95
I'm already on r45, the error doesn't seems related to this at all.

[2017-01-22 20:13] Jolty95 commented on #95
@Margen67 this is not even related with devkitARM

@Hakujou you are right. This [struct](https://github.com/Robz8/TWLoader/blob/master/gui/source/settings.h#L58) need to add `fcromfolder`. I'll create a PR fixing it

[2017-01-22 20:18] #94 closed

[2017-01-22 20:19] #93 closed

[2017-01-22 20:47] HugaShire opened #97 "Data Abort on 3.0"
v3.0 will crash with a Arm11 (Core 0) and a Data Abort. Will upload a crash dump soon

[2017-01-22 20:49] HugaShire commented on #97
[crash_dump_00000011 and 12.zip](https://github.com/Robz8/TWLoader/files/722246/crash_dump_00000011.and.12.zip)

[2017-01-22 21:11] LonKeelay opened #98 "An error has occurred after using Add Games feature"
I followed the directions to load roms on my R4 SDHC Dual-Core, and after I finished playing the ROM, I went back and ran TWLoader again, and it crashed after loading the banners, giving the usual  "An error has occurred" message and restarting my 3DS. I use Luma3DS and A9LH.

[2017-01-22 21:23] mariogamer2 commented on #91
Maybe some problem with dkarm r46? don't know.

[2017-01-22 21:25] Robz8 commented on #74
Yes.

[2017-01-22 21:25] #74 closed

[2017-01-22 21:44] #55 closed

[2017-01-22 22:06] Hakujou commented on #95
Fixed, thanks !

[2017-01-22 22:06] #95 closed

[2017-01-22 22:09] lorecast162 opened #99 "TWLoader crash after update"
i have twloader on my 2ds on 11.2.0-35E and before the latest update it worked fine but now it loads and gives me a crash instantly

[2017-01-22 22:10] Robz8 commented on #99
The crash should be gone in the next version.

[2017-01-22 22:31] Robz8 commented on #91
Please test the new version, and see if it gets rid of the crash.
https://github.com/Robz8/TWLoader/releases/tag/v3.0.1

[2017-01-22 22:44] lorecast162 commented on #99
ok thanks

2017-01-22 23:10 GMT+01:00 Robz8 <notifications@github.com>:

[2017-01-23 00:47] #97 closed

[2017-01-23 00:49] aj-m commented on #91
@Robz8 3.0.1 works on my 11.2.0-35U 2DS with Luma. Previously crashed on 3.0.0, so Works On My Machine.

[2017-01-23 00:51] #91 closed

[2017-01-23 00:56] GerbilSoft opened #100 "Allow launching NTR cartridges with no banner."
http://gbatemp.net/threads/twloader-ctr-mode-nds-app.448375/page-138#post-7036989

CycloDS apparently doesn't show a normal banner on 3DS. If FSUSER_CardSlotIsInserted() returns true even in this case, then we can just have it interpret this case as "Generic NTR cartridge" and launch anyway.

TODO: Need to investigate if FSUSER_CardSlotIsInserted() returns true here. I don't have a CycloDS to test

[2017-01-23 00:57] Robz8 commented on #100
I have a CycloDS.

[2017-01-23 00:58] Robz8 commented on #100
I'm getting "No Cartridge" with a CycloDS.

[2017-01-23 02:03] Bryguy5849 commented on #90
Issue solved as of 3.0.1. Thank you!

[2017-01-23 02:03] #90 closed

[2017-01-23 02:05] hectortillo commented on #89
Rpalmon do you have tried the last update?

[2017-01-23 03:34] DarthVitrial commented on #89
It's fixed for me in the newest update.

[2017-01-23 03:42] #89 closed

[2017-01-23 06:20] NinjaBoyLao opened #102 "Box Art fails to download/display"
I think this is unique to 3.0. The box art for my pokemon games used to be shown, and used to download automatically. It doesn't appear now, and only shows a "?" now in the top screen. I've changed my default rom path, though, is that the source of this issue?

[2017-01-23 06:23] BARNWEY commented on #8
Sorry weirdal3333, that's not the case. YSMenu uses an autoboot function, meaning it bypasses all the menus and immediately starts booting the game.

[2017-01-23 06:28] Robz8 commented on #102
The issue should be fixed in v3.0.2.

[2017-01-23 06:29] NinjaBoyLao opened #103 "Update bootstrap and Update TWLoader functionality broken"
Previously, Pressing X on the settings screen would update bootstrap to latest stable, while pressing Y would update to the latest nightly, Pressing Start would update TWLoader itself, if there was an update. Now, disappointingly, all three options yield a dull error noise, a low pitched bzzt sound. At least the first and last option worked before the update. I'm sorry for opening 2 issues at once

[2017-01-23 06:29] Robz8 commented on #103
The issue should be fixed in v3.0.2.

[2017-01-23 06:29] NinjaBoyLao commented on #102
Oh hey when did that come out? I just checked and it wasn't there.

[2017-01-23 06:29] #102 closed

[2017-01-23 06:31] NinjaBoyLao commented on #103
Testing now, I have to install manually for some reason .-.

[2017-01-23 06:39] #99 closed

[2017-01-23 06:39] Robz8 commented on #98
Try updating TWLoader to v3.0.2.

[2017-01-23 06:40] Robz8 commented on #80
Fixed, but the issue still occurs in the settings screen.

[2017-01-23 06:43] NinjaBoyLao commented on #103
It's fixed, thank you, sorry again, i didn't see either of these closed. my bad

[2017-01-23 06:43] #103 closed

[2017-01-23 07:18] manquerog opened #104 "Help am new"
Bootstrap not found
Press start...

[2017-01-23 17:40] adrifcastr opened #105 "switch between bootstrap.nds"
store the official and the unofiicial on there and switch between both by like pressing x or y

[2017-01-23 18:41] Robz8 commented on #104
Do you have bootstrap.nds and nds-bootstrap.ini from the latest TWLoader release in "sdmc:/_nds/"?

[2017-01-23 19:26] greensad opened #106 "White Screen After Add Game"
Trying to add games from my DSTWO causes TWLoader to hang on a white screen infinitely, I can however use home and power to exit TWLoader so my 3DS does not appear to have crashed. I've followed the main tutorial as well as the flashcart tutorial, is there a step I may have missed or is this not working on the latest build?

[2017-01-23 19:29] Robz8 commented on #106
Add Games is working for me.
Did you set your flashcard in settings?

[2017-01-23 20:30] chofstede opened #108 "Add game does not work for me with 3.0.2"
Flashcard: R4I-SDHC 3DS RTS (r4i-sdhc.com)

- I copied the _nds folder to my 3DS SDCard
- I installed the SIDE .cia and the TWLoader .cia to sysNAND

- Copied the correct ysmenu forwarder ("for Slot-1 microSD (R4i-SDHC RTS)") to the R4i SDCard
- Copied the _nds/twloader.nds from twloader to R4i SDCard

When i enter the "add rom" feature of the TWLoader, it boots fine to a menu where i can add my g

[2017-01-23 20:32] Robz8 commented on #108
It still works for me.

[2017-01-23 20:34] Robz8 commented on #108
Did you update the flashcard pack?

[2017-01-23 20:37] chofstede commented on #108
I downloaded the flashcard pack today from here:

`https://www.dropbox.com/s/xxfmvikwmnvsu63/DS%20Game%20Forwarder%20pack%20%28DSTT%2C%20R4i%20Gold%2C%20R4i-SDHC%2C%20SC%20DSONE%29.7z?dl=0`

I copied the "for Slot-1 microSD (R4i-SDHC RTS)" to the R4i SDCard, since it is a R4I-SDHC 3DS RTS from r4i-sdhc.com. In TWLoader I hava selected the "DSTT/R4i Gold/R4i-SDHC....." Flashcard.
I guess thats corr

[2017-01-23 20:39] Robz8 commented on #108
Yes.

[2017-01-23 20:42] chofstede commented on #108
When I re-run "add game" and select a title, I alrady added, it's weird.
I can see "Banner Data already exist" and directly after that ".ini file created".

I can confim, banner data for that game is on the 3ds flashcart (_nds/twloader/bnricons/flashcart) but no .ini file is created on the 3ds sd filesystem.

I tried with 6 different games

[2017-01-23 20:55] Robz8 commented on #108
What's your flashcard rom folder? Check in settings.ini.

[2017-01-23 20:59] chofstede commented on #108
I guess thats the FCROM_FOLDER = roms/flashcard/nds

Here the full settings.ini:

`[FRONTEND]
COLOR = 0
TOP_BORDER = 1
TOP_LAYOUT = 0
COUNTER = 0
AUTOUPDATE = 0
AUTODOWNLOAD = 0
ROM_FOLDER = roms/nds
FCROM_FOLDER = roms/flashcard/nds
LANGUAGE = -1
MENU_COLOR = 0
SHOW_FILENAME = 0
CUSTOM_BOTTOM = 0
NAME = Chris

[TWL-MODE]
RAINBOW_LED = 0
TWL_CLOCK = 1
BOOT_ANIMATION = 1
HEALTH&SAFETY_MSG = 1
LAUNC

[2017-01-23 21:06] Robz8 commented on #108
Is the .ini's not in "sdmc:/roms/flashcard/nds/"?

[2017-01-23 21:09] chofstede commented on #108
Um, that folder does not exist. It is not included in the directory structure from the 3.0.2 twloader zipfile, that should be created on the sdmc (TWLoader.7z). I'll try creating that folders and report back

[2017-01-23 21:13] chofstede commented on #108
Okay. now it works perfectly. Didn't realize, I have to create that folder structure manually.

Thank you for your great and quick help.

[2017-01-23 21:17] Robz8 commented on #108
Your welcome. I might fix it sometime.

[2017-01-23 21:17] #108 closed

[2017-01-24 22:26] chofstede opened #113 "Boxart is not downloaded for flashcard games on my device"
I have multiple NDS roms on Flashcard inside the 3DS.
The games were successfully added to TWLoader and can be started.

- .INI files are in sdmc:/roms/flashcard/nds and contain the correct TID
- sdmc:/nds/twloader/boxart/ does not contain any file
- sdmc://_nds/twloader/boxart/flashcard does not contain any file

Log-File output in log.ini is this:

[code]

The TWLoader Version used is: 3.0.2.

[2017-01-24 22:30] Robz8 commented on #113
This isn't an issue. All of the box art hasn't been uploaded yet.

[2017-01-24 22:41] chofstede commented on #113
Tried ~70 different images from NDS games. PAL/DE and US region.
For the .nds Files, i have on sdmc, I get boxart for some of them. But for
non on the Flashcard. And according to the log.ini, the loader thinks there is nothing to
download "No boxart to download."

Examples tested:  AZEP01, BKIP01 ASMP01

[2017-01-24 22:48] Robz8 commented on #113
Seems like it's getting the TID incorrectly.

[2017-01-24 23:04] greensad commented on #106
Yes, not sure what the problem could be

[2017-01-24 23:05] Robz8 commented on #106
Try re-downloading the flashcard pack.

[2017-01-25 01:47] chronoss09 commented on #106
For me, i boot very well on my flashcard but how to add them to TWLoader menu ?

[2017-01-25 01:49] Robz8 commented on #106
If you re-downloaded and re-extracted the flashcard pack, try running "Add Games" again.

[2017-01-25 23:17] Redswastaken opened #114 "Plz Halp"
I tried to use a very outdated video to try to download the loader (video here https://www.youtube.com/watch?v=bGpyu65LdUY&t=353s) I got the application twloader, but I have no clue where to put my ds roms. I've tried what feels like everywhere, but I the loader doesn't read any of my roms

[2017-01-25 23:19] Robz8 commented on #114
Try "sdmc:/roms/nds/".

[2017-01-25 23:24] Redswastaken commented on #114
So i create a new folder called roms?

[2017-01-25 23:28] Jolty95 commented on #114
Please, do not use outdated videos. All the info you need is on gbatemp or the official wiki in github.

[2017-01-25 23:32] Redswastaken commented on #114
Jolty95 please link me to it. I didn't want to use an outdated video, but all the guides i found were out of date.

[2017-01-25 23:33] Jolty95 commented on #114
Here it's all the info you need to run roms with TWLoader. https://github.com/Robz8/TWLoader/wiki

[2017-01-26 00:42] #114 closed

[2017-01-26 01:32] Redswastaken opened #115 "Downloading missing box art/ downloading OS X?"
I downloaded my roms to the correct directory and I gave each rom there own box art image in the box art folder, but when I launch TWLoader I get this message "downloading missing boxart...    2/3

[2017-01-26 01:33] Redswastaken commented on #115
As well As Downloading: OS X. I don't know why it's trying to download these things and it's taking a tremendously long time. Did I do something wrong?

[2017-01-26 01:34] Robz8 commented on #115
No. I think "OS?X" is the TID of one of your games.

[2017-01-26 01:36] Redswastaken commented on #115
It has to download this even though I included box art for it? Should The download be taking a very long time?

[2017-01-26 01:38] Robz8 commented on #115
It downloads box art by the game's TID, not by nds filename.

[2017-01-26 01:44] Redswastaken commented on #115
So do I have to name one of the pngs for the box art "OS X.nds.png"?

[2017-01-26 01:51] Robz8 commented on #115
Yes, but exclude ".nds".

[2017-01-26 01:52] Redswastaken commented on #115
Ok thank you. You've been very helpful

[2017-01-26 01:55] Robz8 commented on #115
You're welcome.

[2017-01-26 01:55] #115 closed

[2017-01-26 02:03] Redswastaken opened #116 "Banner Data"
Sorry if this is starting to get annoying. My issue for this hour of the day is that when I boot TWLoader I get the message "Now checking if banner data exists (SD Card)". Any known fix? Thanks in advance.

[2017-01-26 02:05] Redswastaken commented on #116
The message doesn't seem to go away

[2017-01-26 02:14] Robz8 commented on #116
Does it at least show the game menu?

[2017-01-26 02:15] Redswastaken commented on #116
no. On the top screen I see the TWLoader logo, and on the bottom I see the message

[2017-01-26 02:20] Robz8 commented on #116
Does it show a rom filename and a number below "Now checking if banner data exists (SD Card)"?

[2017-01-26 02:21] Redswastaken commented on #116
no

[2017-01-26 02:24] Robz8 commented on #116
Try clearing the banner .bin files in "sdmc:/_nds/twloader/bnricons/" (ignore the flashcard folder).

[2017-01-26 02:33] Redswastaken commented on #116
the only thing there is the flashcard folder

[2017-01-26 02:36] Robz8 commented on #116
Check if the SD Card isn't locked.

[2017-01-26 02:41] Redswastaken commented on #116
im using micro sd. I have a new 3ds

[2017-01-26 02:52] Redswastaken commented on #116
I don't think Micro sd's can be locked

[2017-01-26 02:59] Robz8 commented on #116
Nope, it can't.
Try formatting your microSD card with 32kb clusters.

[2017-01-26 03:02] Redswastaken commented on #116
that's fat32 right?

[2017-01-26 03:05] Redswastaken commented on #116
If that's the case I assume I have to take everything of my microsd, format it in fat32 and then put everything back on it?

[2017-01-26 03:06] Robz8 commented on #116
Yes. Format it to FAT32 with the allocation size of 32 killobytes.

[2017-01-26 03:20] Redswastaken commented on #116
my computer is having a hard time transferring some of the files on my sd card that cant be read like nand.bin is there any other options?

[2017-01-26 03:24] Robz8 commented on #116
Other than this: http://www.codesector.com/teracopy
nope.

[2017-01-26 03:41] Redswastaken commented on #116
Could I just try adding banner data? I'm on mac and I don't think I have anyway of making a copy of my sd card.

[2017-01-26 03:58] Robz8 commented on #116
https://github.com/Robz8/TWLoader/raw/master/gui/romfs/notextbanner
This "No Info" file will have to do.
Name them "gamename.nds.bin".

[2017-01-26 04:09] Redswastaken commented on #116
When you say game name should I be use TID?

[2017-01-26 04:10] Robz8 commented on #116
Nope, rom name.

[2017-01-26 04:11] Redswastaken commented on #116
Does this include the file extension ".nds"?

[2017-01-26 04:12] Robz8 commented on #116
For example, "Super Mario 64 DS.nds.bin", so yes, including ".nds".

[2017-01-26 04:31] Redswastaken commented on #116
That wasn't working. Are you aware of any method to change the sd cards allocation size on mac?

[2017-01-26 05:02] Robz8 commented on #116
Pretty sure your SD card might be corrupted.

[2017-01-26 05:07] Redswastaken commented on #116
Well it is now

[2017-01-26 05:09] Redswastaken commented on #116
I just formatted it, and tried to transfer my files back over, but there's seem to have been an issue with the transfer because, none of my hacks are working. I'll try to do everything over again and see if that fixes the problem

[2017-01-26 05:13] Robz8 commented on #116
If TWLoader still stops at the message, the only alternative is [forwarders for HOME Menu](https://gbatemp.net/threads/nds-forwarder-cias-for-your-home-menu.426174/).

[2017-01-26 12:02] MelvinG24 opened #117 "Failed to install CIA file (0xD8E0806A)"
I am trying to install the CIA file inside the "_nds" folder, but the following error appeard:

Failed to install CIA file.
Result code: 0xD8E0806A
Level: Permanent (27)
Summary: Invalid argument (7)
Module: AM (32)
Desc: Cert signature or hash check failed (106)

I download the file again in case that may fix the problem, but the same error appeared.

[2017-01-26 12:06] Jolty95 commented on #117
Can you tell me what CFW are you using? Emunand? Sysnand? :)

[2017-01-26 17:25] maorninja commented on #105
I agree, as this can actually make testing the latest commits alot faster...

[2017-01-26 17:26] maorninja commented on #72
Since this has already been implemented, can someone close this?

[2017-01-26 17:38] Jolty95 commented on #72
It is not implemented yet! It's searching by TID not filename for now https://github.com/Robz8/TWLoader/blob/master/gui/source/download.cpp#L498

[2017-01-26 21:27] Favna commented on #113
Personally build the TWL gui from the latest commit of the repo and I can confirm that box arts are not being downloaded. My situation has been unchanged from when I commented this on #92 but I'll just copypasta what I said in there to here:

My settings.ini:

[code]

The screen I get when downloading box arts (at launch). After this screen it just moves down out of the screen and it goes to the m

[2017-01-26 21:53] Margen67 commented on #105
What's the difference between official and unofficial?

[2017-01-26 21:54] Robz8 commented on #105
Unofficial is the latest commit (which isn't latest right now), and official is the latest release.

[2017-01-26 22:47] Jolty95 commented on #113
@Favna
Example: Your rom TID = CQFJ
Boxart is downloaded from http://art.gametdb.com/ds/coverS/EN/CQFJ.png
and page is empty for those TID.

My end: one of my roms TID = CPUS
Boxart page: http://art.gametdb.com/ds/coverS/ES/CPUS.png (ES because I'm spanish and EN doesn't have that boxart)

What I mean is that is not a problem in TWLoader. Is a "problem" with that page that haven't got your boxarts

[2017-01-26 22:52] Favna commented on #113
@Jolty95

Ok that makes a lot of sense for the first one but it is doesn't clarify why after failing on the first it just cancels out and doesn't check the rest. ***that*** is an issue for TWLoader.

[2017-01-26 22:56] Jolty95 commented on #113
@Favna
When it fails (I have roms whom boxart doesn't exist in **that** page) it continue reading the boxarts. If I understand you boxarts from flashcard are not working, that's right?
Are you using the old ini files? Or the new inis added from `Add game`?

[2017-01-26 23:14] Favna commented on #113
@Jolty95 Added through `add game`. Putting png files in _nds/twloader/boxart/flashcard manually does have them load (picture 1). If only I could determine to which title CQFJ belongs... I tried adding box arts for all tiltes manually in batches of 3 to determine but even after adding them all I still see that error. I cannot find any database for DS titles other than gametdb which doesn't have it

[2017-01-26 23:18] Jolty95 commented on #113
I can send you a "debug" version to locate CQFJ rom (just print EVERYTHING on log file) if you want.
And about Pokemon White 2... what region is it?

[2017-01-26 23:20] Robz8 commented on #113
It's US/EU.

[2017-01-26 23:22] Jolty95 commented on #113
My pokemon white 2 TID is IRDS

[2017-01-26 23:25] Robz8 commented on #113
The box art for IRDS isn't there.

[2017-01-26 23:26] Favna commented on #113
Yeah that would help

Interesting coz GameFAQS does list IRDO but not IRDS lol https://www.gamefaqs.com/ds/661227-pokemon-white-version-2/data

[2017-01-26 23:27] Jolty95 commented on #113
Oh @Favna I think I now why is failing...
Just a "small" question to be sure. Can you remove the mark  (in English accent mark or acute mark o whatever) I mean replace è with e, and recreate .ini please?

[2017-01-26 23:37] Favna commented on #113
Just a "small" question to be sure. Can you remove the mark (in English accent mark or acute mark o whatever) I mean replace è with e, and recreate .ini please?

Didn't do the trick. Also went ahead and removed all `!`'s from the names so the only special character left is a couple of hyphens (`-`)

[2017-01-26 23:38] Jolty95 commented on #113
I told you to do that because I remember that sometimes when I had flashcard, especial characters where causing troubles.
I think I've fixed. Could you wait a bit more, please? :)

[2017-01-27 08:26] Hakujou opened #121 "Missing elements on structs since 6e533e9"
Hi,

As you can see here : https://jenkins.hakujou.fr/job/3DS/job/TWLoader/49/console
There are few missing elements from structs, and the code cannot build. It was building fine before 6e533e9.

[2017-01-27 09:34] Jolty95 commented on #121
@Hakujou I'll create a PR soon and upload my code to my fork. When I finish fixing those error, I'll create a comment to re do the compilation job :)

[2017-01-27 09:35] Jolty95 commented on #121
Oh, just to mention. I'm using travis in my fork and there are the same errors so you can watch my travis instead of redoing every commit the job

[2017-01-27 09:45] Jolty95 commented on #121
I think is solved now.
https://github.com/Jolty95/TWLoader/commit/d376038f617f02b88193c29a10d90767cedaa0c7
Could you test before I pr, please?

[2017-01-27 09:48] Hakujou commented on #121
I don't redo the job manually, Jenkins automatically builds it when a new commit is pushed to the repo :)

Still broken : https://jenkins.hakujou.fr/job/3DS/job/TWLoader/54/console

[2017-01-27 09:52] Jolty95 commented on #121
I can write directly in this repo but I prefer to do in a fork in case I mess up something :P Travis has ended in my side :)

[2017-01-27 09:53] #121 closed

[2017-01-27 10:33] Jolty95 commented on #72
https://github.com/Robz8/TWLoader/pull/122

[2017-01-27 10:33] #72 closed

[2017-01-27 18:26] Redswastaken commented on #116
When I click the floppy drive on the fowarders it says the process suceeded, but I can't find the .cia Also Can I Just skip the step where I dump my cart? I'd rather not Dump a really large 3ds game onto my card if I don't have to.

[2017-01-27 19:37] Redswastaken commented on #116
Ok I realized that the fowarder created a file on my desktop called "generated", but when I check there theres's just a folder with a bunch of nds files. ther are no cias in the folder

[2017-01-27 20:30] Redswastaken commented on #116
Ok I found my issue in the FAQ's, but Im not sure how to follow the instructions. "A2 (Linux and MacOS users): Execute chmod +x make_cia in the terminal on the .jar file's directory, so that make_cia gets the needed rights to be executed."

[2017-01-27 22:40] MelvinG24 commented on #117
Sorry if I do not understand your question, because I am quite new on this. However, I do not using any CFW, I just try to installe it with an custom FBI, whitch I downloaded from this link

https://gbatemp.net/threads/release-fbi-mod-with-fasthax-plus-some-maki-install-cia-legit-on-11-2-o3ds-n3ds.455713/

[2017-01-27 22:56] GerbilSoft commented on #117
You can't use TWLoader without CFW. Even if you did manage to get it installed, you'd get an error when rebooting to TWL_FIRM because the TWL-side application isn't signed.

[2017-01-27 22:56] Jolty95 commented on #117
@MelvinG24 Oh, I understand and don't worry. You need a CFW in order to install TWLoader. Your FBI only can install legit cias, so, I recommend you to follow the guide to downgrade and install A9LH :)

[2017-01-28 00:48] Redswastaken commented on #116
Nevermind. I fifured it out, but now When I try to launch my games from the home menu. The ds logo comes up, then then the screen turns white and is stuck like that.

[2017-01-28 00:50] Robz8 commented on #116
Do you have bootstrap.nds in "sdmc:/_nds/"?

[2017-01-28 00:54] Redswastaken commented on #116
yes

[2017-01-28 00:57] Robz8 commented on #116
What's in nds-bootstrap.ini?

[2017-01-28 00:57] MelvinG24 commented on #117
Thank you all, for your help . At least now I know what is the problem

[2017-01-28 00:59] Redswastaken commented on #116
nothing. It's shown as a document on my computer

[2017-01-28 01:00] Jolty95 commented on #117
@MelvinG24 your welcome. Closing this for now :)

[2017-01-28 01:00] #117 closed

[2017-01-28 01:00] Redswastaken commented on #116
It's an executable script. Like make_cia

[2017-01-28 01:07] Redswastaken commented on #116
would it help if i sent you pictures?

[2017-01-28 01:18] Robz8 commented on #116
"nds-bootstrap.ini" is in "sdmc:/_nds/", same location as bootstrap.nds.

[2017-01-28 01:20] Redswastaken commented on #116
yes

[2017-01-28 01:23] Redswastaken commented on #116
_nds is on the root of my sd card and it contains "bootstrap.nds", ds-bootstrap.ini", and "ntr forwarder.ini"

[2017-01-28 01:23] Robz8 commented on #116
Send a picture.

[2017-01-28 01:25] Redswastaken commented on #116
![screen shot 2017-01-27 at 8 23 42 pm](https://cloud.githubusercontent.com/assets/25356208/22393051/b831e2b0-e4ce-11e6-84e3-facdd05b45a8.png)

[2017-01-28 01:26] Robz8 commented on #116
What's inside "nds-bootstrap.ini"?

[2017-01-28 01:29] Redswastaken commented on #116
I don't think I'm picking up what you're putting down. I can't check the contents of the executable.

[2017-01-28 01:30] Robz8 commented on #116
Attach the file here then, so I can look at it.

[2017-01-28 01:33] Redswastaken commented on #116
[nds-bootstrap.ini 2.zip](https://github.com/Robz8/TWLoader/files/736609/nds-bootstrap.ini.2.zip)

[2017-01-28 01:37] Robz8 commented on #116
The rom path is "Volumes/UNTITLED/roms/nds/Sonic Rush.nds", which is invalid.
Try recreating the forwarders, but disable "Automatically set ROM path", click on the game, and set the rom path to "roms/nds/romnamehere.nds".

[2017-01-28 01:39] Redswastaken commented on #116
Ok so I'm just recreating the cias for the roms using your instructions?

[2017-01-28 01:40] Robz8 commented on #116
Yes.

[2017-01-28 02:11] Redswastaken commented on #116
do I have to do the dumping again?

[2017-01-28 02:14] Robz8 commented on #116
No. If you already dumped the ROM, there's no need.

[2017-01-28 02:22] Redswastaken commented on #116
Ummm Sonic Rush works fine. Megaman ZX Advent use to show a flash a black screen with text text on the bottome screen before going completely white. Now it just goes white. Megaman ZX boots into the white screen, and then a black screen appears on the bottom that says creating save data. It then stays on a white loading screen then say "Failed to load datat. Turn off power and reinsert the game ca

[2017-01-28 02:25] Robz8 commented on #116
Take out the currently inserted Slot-1 card.

[2017-01-28 02:45] Redswastaken commented on #116
Thanks man. everything seems to be working as planned. Youre godsent!

[2017-01-28 02:46] Robz8 commented on #116
You're welcome!

[2017-01-28 02:46] #116 closed

[2017-01-28 02:46] Redswastaken commented on #116
Anyone I can giveback support? Donations page? Play testing for compatible roms?

[2017-01-28 10:53] bakawun commented on #62
So i used my DSi XL on 1.4u and 2ds with twloader running to compare the behaviour in audio between the 2.

First up the DSi XL,
There is no audible feedback/sfx sound when pressing the volume up or down buttons to adjust volume.
There is background audio playing.
There are 8 possible positions for the audio to be in:

volume at position 1 of 8 has a  grey icon with 0 waves and 3 dots "..."
volume

[2017-01-28 11:13] Favna commented on #113
Update towards this issue. I installed 3.1 and for some reason i cleared all my previous .ini's, but that did lead me to conclude that the CQFJ error even shows up when I have no ini's whatsoever.

[2017-01-28 11:18] Favna opened #127 "_nds/twloader/cia folder continuously being recreated after deleting"
Title says it all. This folder is 9000% useless once TWLNAND-side has been installed yet it is still being recreated every single time, probably through a mkdir.

[2017-01-28 11:18] Jolty95 commented on #113
@Favna sorry, I don't undertand what means "Update towards this issue"
Is still getting errors?

[2017-01-28 11:20] Jolty95 commented on #127
That folder is needed when you plan to download an update, if it doesn't exist, twloader doesn't install nothing. I'm going to move that create code to download instead.

[2017-01-28 11:21] Jolty95 commented on #127
Done. Thanks for notice :)
https://github.com/Robz8/TWLoader/pull/126

[2017-01-28 11:26] Favna commented on #127
Closing issue for you then

[2017-01-28 11:26] #127 closed

[2017-01-28 11:34] Favna opened #128 "Adding second game with "add games" crashes the system"
When selecting a second game when using the "add game" feature the entire TWLNAND just crashes. The error as shown on the bottom screen can be seen in this video:

[video](http://streamable.com/xa8a7)

Like I say in the video, I already have the .ini files which is why you see that in the first game added, but that is not relevant to the issue as it also occurs when it does create an ini file for

[2017-01-28 11:36] Favna commented on #113
Log is available on [hastebin, see here](https://hastebin.com/hitasotuze.xml)

And yes I did mean I am still getting the same error.

Not sure why you'd per se want me to PM on gbatemp :\ not that I mind tho... so if you really want here is my temp profile:

https://gbatemp.net/members/favna.198047/

[2017-01-28 11:50] Jolty95 commented on #113
@Favna sorry if that bother you, it wasn't my intention. I said that because I'll send you a debug version and was only for this issue, but if that bother you, I'm sorry.

Download this debug version https://www.dropbox.com/s/93if60bo1gulzyh/TWLoader.cia?dl=1 and send back the log.ini file

[2017-01-28 12:05] Favna commented on #113
[Log file](https://hastebin.com/xuquvodaca.xml)

[Settings file](https://hastebin.com/eyurixorud.makefile)

Sending  settings file as well as I noticed it created another entry for the debug version, whether to use debug bootstrap or not.

[2017-01-28 12:09] Jolty95 commented on #113
shit, settings files was suppose to be a secret until the PR get merge hahah

You are not getting any TID. Are your .ini files good created? I say this because log file should printed `Boxart exist` or `Boxart doesn't exist` and it's because flashcard .ini TID are not correct. Can you show at least 3 or 4 .inis files, please?

[2017-01-28 12:14] Favna commented on #113
[rom ini files.zip](https://github.com/Robz8/TWLoader/files/736869/rom.ini.files.zip)

They were all created through "add games", although only Blue Dragon Plus through 3.1 (stable) and the others through 3.0.2. Referencing #128 but as can be seen there I was lucky I backed up previously created ini files :disappointed_relieved:

ini file location is unchanged from before btw:

![image](https://cl

[2017-01-28 12:17] Jolty95 commented on #113
Ok, I "know" was is happening

Replace .inis with this, open my debug version and send back the log.ini please

[2017-01-28 12:19] Jolty95 commented on #113
I'll upload to dropbox cause I cannot attach on github
https://www.dropbox.com/s/g7n9xiylpzm2sk3/inis.zip?dl=1

[2017-01-28 12:33] Favna commented on #113
[Still cannot find the TID](https://hastebin.com/esubuquzuc.xml)

What I also find odd is that it doesn't show a `Method: <TID>` for Bomberman Land Touch :thinking:

[2017-01-28 12:33] bakawun opened #130 "Update the volume icons"
In my pr https://github.com/Robz8/TWLoader/pull/129 i modify the audio mapping to match that of a real DSi, however the volumex.png icons need to be updated to match.

The DSi has 5 volume icons
1. grey speaker and 3 grey dots. Available as volume0.png
2. black speaker and 3 grey dots. Missing
3. black speaker, 1 black wave and 2 grey dots. Available as volume1.png
4. black speaker, 2 black waves

[2017-01-28 12:35] Jolty95 commented on #113
Tid is before name, it's showing fine :)

Can you tell me is this have change?

[2017-01-28 12:39] Favna commented on #113
What I had originally:

[code]

What you send me just before:

[code]

Unchanged after running it:

[code]

[2017-01-28 12:40] Jolty95 commented on #113
Roms are loading fine and boxart are display correctly? Just to be sure

[2017-01-28 12:44] Favna commented on #113
pre-made box arts show up just fine and games run fine as well. I put in only the box art I have for Advance wars and while doing that also deleted the log so it can be a clean recreated one

[here it is](https://hastebin.com/amobiyifid.xml)

[2017-01-28 12:59] Jolty95 commented on #113
Don't bother deleting log file. Is cleared every time twloader is run :)
I'll send you a new debug version. This time SHOULD print TID's

![qr]( http://www.qrcode.es/wp-content/themes/ultra/qrcdr/qrcodes/38b9e5372dd6ec358cba761674a85ca9.png)

[2017-01-28 13:01] Jolty95 commented on #130
It is not needed to create an issue and a PR both together.
If you want to add more info, edit the PR message :)

[2017-01-28 13:57] Favna commented on #113
Yep it found TID's now - but the issue itself is not fixed yet. Still getting the damned CQFJ failure.

As usual, [here is the log file](https://hastebin.com/dazodupite.xml)

[2017-01-28 14:01] Jolty95 commented on #113
That log has help me a lot. In a couple of minutes I'll send you another qr code. This should stop the CQFJ :)

[2017-01-28 14:09] bakawun commented on #130
please reopen, I don't create the missing/changed icons in my PR , this ticket is so Robz8, or anyone else  an create them

[2017-01-28 14:10] Jolty95 commented on #130
Oh ok. I'll create later the new icons. For now, use the same if you wish and later I'll add the new icons :)

[2017-01-28 14:12] Jolty95 commented on #113
I don't have flashcard to test, but I guess this build *should* solve the download problem (and log problem not displaying).

![qr] (http://www.qrcode.es/wp-content/themes/ultra/qrcdr/qrcodes/38b9e5372dd6ec358cba761674a85ca9.png)

[2017-01-28 14:18] Favna commented on #113
Can confirm that it downloaded them. Only Blue Dragon Awakened Shadow is missing out, but then again there is nothing at http://art.gametdb.com/ds/coverS/EN/YBUP.png anyway so that makes sense.

For good measure [here is one more log file](https://hastebin.com/uqowawijay.xml)

[2017-01-28 14:20] Jolty95 commented on #113
So,...we did it? hahaha
Can you try to add a new rom using Add game? That was causing you issues too.
Tell me if it's solve and a screenshot of boxart folders and log one more time while I clean up the project to update the PR ;)

[2017-01-28 14:27] Favna commented on #113
Did an "add game" for Mario and Luigi Partners in Time

It downloaded box art successfully:

![new](https://cloud.githubusercontent.com/assets/4019718/22397249/de990574-e56d-11e6-95b0-1d5af39df3ab.jpg)

[Log file here](https://hastebin.com/ararizubuh.xml)

Boxart folder (flashcard is empty)

![image](https://cloud.githubusercontent.com/assets/4019718/22397259/052bc0f0-e56e-11e6-8009-72f7341b1844.p

[2017-01-28 14:30] Jolty95 commented on #113
I think is time to close this and upload commit ;)
Thanks you for helping me debugging. I'll take a look to add game code because is printing garbage on TID (should be ARME not ARM01)

[2017-01-28 14:30] #113 closed

[2017-01-28 14:30] Jolty95 commented on #128
Shall I close this too?

[2017-01-28 14:31] Favna commented on #113
Anytime :smile:

[2017-01-28 15:48] Lykie opened #131 "Donor Rom option has nothing that shows it's worked."
Pressing A on "Set as donor ROM" does nothing, some roms say "Default" and others have nothing under it.
edit: it looks like it does work but there's nothing telling you that it did work. Add a menu thing that tells you that it's set a donor rom?
edit2: donor rom option loaded me into the donor rom very slowly for some reason?
edit3: now my settings.ini has randomly corrupted

[2017-01-28 16:05] Favna commented on #128
No this still occurs even with the latest beta build and since it's in the "add games" part I think it's more related to the TWLNAND-side rather than the gui

[2017-01-28 16:31] Jolty95 commented on #131
Should be fix in next version :)
https://github.com/Robz8/TWLoader/pull/126

[2017-01-28 17:24] FedangleBoy opened #132 "Error when selecting game with DSTT"
When I try to select a ROM in the flashcart adding selector, a red screen appears on the bottom screen where it says "Guru Meditation Error! data abort!" with lots of numbers down at the bottom. http://imgur.com/s1jAhx6

[2017-01-28 18:24] Robz8 commented on #132
Does it happen before the .ini file is created?

[2017-01-28 18:49] FedangleBoy commented on #132
yes @Robz8

[2017-01-28 19:35] #105 closed

[2017-01-28 19:35] bakawun commented on #130
Jolly thanks you fixed all the volume icons except for one.

Can you changet this one https://github.com/Robz8/TWLoader/blob/master/gui/romfs/graphics/volume5.png

from being a speaker with an red X to being the word "NoDSP?" in red?
if there is not enough space then just "DSP?"

[2017-01-28 19:36] #45 closed

[2017-01-28 19:41] Jolty95 commented on #130
Just volume5 or [this](https://github.com/Robz8/TWLoader/blob/master/gui/romfs/graphics/settings/volume4.png) too?

[2017-01-28 19:46] bakawun commented on #130
good catch, all the icons in settings should look exactly the same as the others.

so I guess instead of black they should be white?

[2017-01-28 19:47] Jolty95 commented on #130
I use settings icons in white because I like it more. Also, settings background is dark, so, white is fine :)
Give me some minutes and I'll PR the new DSP icons

[2017-01-28 19:51] bakawun commented on #130
just keep volume0 Grey like it is now

[2017-01-28 20:19] Jolty95 commented on #130
https://github.com/Robz8/TWLoader/pull/134

[2017-01-28 22:38] Robz8 opened #135 "Launching Slot-1 card crashes to HOME Menu"

[2017-01-28 22:40] Jolty95 commented on #135
Using CTR card crash it too

[2017-01-28 23:18] Jolty95 commented on #135
@Robz8 I found were is crashing.
This is causing the crash:

[2017-01-28 23:31] chronoss09 commented on #106
Red screen and "Guru Meditation error, data abort" when i want add a game, what does it means ?

[2017-01-28 23:41] Robz8 commented on #106
No idea.

[2017-01-28 23:47] bakawun commented on #130
If you can change these from grey speakers/waves to to white speakers/waves then all is perfect.

https://github.com/Robz8/TWLoader/blob/master/gui/romfs/graphics/settings/volume1.png
https://github.com/Robz8/TWLoader/blob/master/gui/romfs/graphics/settings/volume2.png
https://github.com/Robz8/TWLoader/blob/master/gui/romfs/graphics/settings/volume3.png
https://github.com/Robz8/TWLoader/blob/maste

[2017-01-28 23:50] Jolty95 commented on #130
Them are fine just like are now and I like them more in grey than in white (because when I add the volume icon support I tested with white volume icon and I dislike the way it was)

[2017-01-28 23:50] bakawun commented on #62
I think this ticket can be closed now as several commits where made to modify the volume graphics.
Most imporantly this commit here https://github.com/Robz8/TWLoader/commit/fbcae2bfd19fcb26d296342a89e9945b4698eafa made it more clear when dsp firm is missing.

[2017-01-28 23:51] #62 closed

[2017-01-28 23:58] bakawun commented on #130
We want to have consistency here.
So in the normal menu grey means no sound and black means sound.
In the settings menu we need to do the same, one color for no sound and another for sound.

If you want to stick to grey for having sound then the no sound https://github.com/Robz8/TWLoader/blob/master/gui/romfs/graphics/settings/volume0.png should be made a different color, and all the dots in the o

[2017-01-29 00:02] Jolty95 commented on #130
Ok but nobody has complain about the color of an icon before. I'll update the texture that @Robz8 wants because I think he is the only one to say which textures should we use.

[2017-01-29 00:12] bakawun commented on #130
The change i am trying to make here is to make the volume icons behave and look the same as they did on a real DSi.

Here is a screenshot of a real DSi settings menu, as you can see here the volume icon is white.

![Image of Dsi](https://bloguedegeek.net/wp-content/uploads/2009/04/dsiguide_settings.jpg)

[2017-01-29 00:14] Jolty95 commented on #130
Ok. I'll do volume1 to 4 in settings romfs un White but tomorrow morning. It's late in my country.

[2017-01-29 00:29] Robz8 commented on #130
The background can be easily recreate-able, so I'll fix the background.

[2017-01-29 09:54] chronoss09 commented on #106
What can i do to add my game now ?

[2017-01-29 09:57] chronoss09 commented on #135
Samething on me too :(

[2017-01-29 10:40] Jolty95 commented on #135
@chronoss09 This is already solve in repo. Next release version will fix it :)

[2017-01-29 10:51] bakawun commented on #135
fixed with https://github.com/Robz8/TWLoader/commit/f72f59be999d729075d1e9c47c4798fdb5111f68
ticket can be closed

[2017-01-29 10:52] #135 closed

[2017-01-29 16:22] chofstede commented on #132
Same problem here. It worked fine on Version 3.0.2. Now I upgraded to 3.1 and cannot add any game.
The new twloader.nds was put on the NDS Flashcard.

Flashcard: R4I-SDHC 3DS RTS (r4i-sdhc.com)

I tried ~5 different games. Always get "Guru Meditation! on a fully red screen.

[2017-01-29 17:26] Jolty95 commented on #130
This can be close now.

[2017-01-29 17:26] #130 closed

[2017-01-29 17:41] samualtnorman opened #138 "No start button"
When I'm on game select screen there is no start button for selecting a game apart from on settings. I have not found anyone else who has encountered this problem, am i doing something wrong?

http://imgur.com/hWOp7Wj

[2017-01-29 18:08] bakawun opened #139 "Feature Request: Allow icon reordering (like on a real DSi)"
On a real Dsi the direction pad has the following effects:

Left > move 1 icon to the left
Right > move 1 icon to the right
Down > nothing happens
Up > the icon moves up replacing the application name

With the icon up you can move it left/right and press down to place it in another position

Please implement this feature into TWLoader.

Here is the DSi manual entry with pictures.
http://en-americ

[2017-01-29 18:39] Jolty95 commented on #138
@samualtnorman what TWLoader version are you using?

[2017-01-29 18:50] samualtnorman commented on #138
The latest 3.1

[2017-01-29 18:52] Jolty95 commented on #138
The picture you send is from roms from SD or flashcard?
Also if you can, would be great if you can add more roms to help me testing and find what is causing that strange behavior :)

[2017-01-29 18:56] Shadowehh opened #140 "Error has occurred on N3DS V11.2.0-35U Luma CFW + A9LH"
Every time I load a NDS file, the screen appears to start, but then I get, "**An error has occurred. Press and hold the POWER Button to turn the system off. Please refer to the Operations Manual for details.**". I currently have a N3DS on version 11.2.0-35U that has Luma CFW with A9LH. I am also on the latest version on TWLoader as well and this has been happening on every version of TWLoader. I a

[2017-01-29 19:03] Jolty95 commented on #140
Have you installed TWLNand side?

[2017-01-29 19:26] maorninja commented on #140
Sigh....

Please, Robz8, for the sake of not having as much cancer as this, please make it clear that if you didn't read the instruction, you will not get help...

At OP, **Start reading instructions!!!**

Is this step too hard? Seriously, its annoying...

[2017-01-29 19:30] samualtnorman commented on #138
It's on the SD card and I will do, thankyou @Jolty95

[2017-01-29 19:30] gaiaweylyn commented on #140
I just went into FBI > SD and clicked install on it. I can only assume it's working properly at that point. I can get the select few working roms to boot. It's odd, since I think I did get that error once, even after doing this. It went away after I restarted TWLoader and ran the game again.

[2017-01-29 19:32] bakawun commented on #140
maybe there is a way to check if the twl nand side has been installed or not

[2017-01-29 19:38] maorninja commented on #140
There is.

Go to FBI > Titles, and scroll to the blue part at the end...

[2017-01-29 19:38] bakawun commented on #140
glancing at http://smealum.github.io/ctrulib/am_8h.html suggest we can check it nand side is installed or not and maybe even check the version.

it also looks like we can install the nand side from within the twloader gui.

so to me it seems the install process and verification can be completely automated

[2017-01-29 19:42] #140 closed

[2017-01-29 20:24] samualtnorman commented on #138
I have added 7 more games and I am still encountering the same problem.

[2017-01-29 20:25] Jolty95 commented on #138
Can you try deleting TWLoader from FBI and reinstalling? Also download TWLoader.7z latest release and put a new _nds folder in SD:\root

[2017-01-29 20:26] samualtnorman commented on #138
Will do. Thanks again!

[2017-01-29 20:29] #40 closed

[2017-01-29 20:31] samualtnorman commented on #138
I have not been using FBI, I have been using the .3dsx of twloader and placing it in 3ds in homebrew, does that matter?

[2017-01-29 20:32] Jolty95 commented on #138
That's why it wasn't working :P
.3dsx file is a DEMO aka is useless to rom loading. You need CFW and to install the .cia version in order to use TWLoader with rom loading functions :)

[2017-01-29 20:45] bakawun opened #141 "Add missing bootlogo and HS screens for China and Korea"
The chinese DS and DSi are called IQue DS and IQue DSi
They use a completely different logo.

For both the chinese (only in simplified) and korea the HS screen is missing.

For reference here is a video showing the IQue Dsi
http://www.ique.com/DSi/intromovie_DSi.htm

[2017-01-29 20:51] samualtnorman commented on #138
Just to confirm, I use .3dsx version of cia to install .fbi version of cia

[2017-01-29 21:01] samualtnorman commented on #138
Sorry I am noob at this

[2017-01-29 21:13] Jolty95 commented on #138
I don't understand your problem. Do you have FBI and a CFW?

[2017-01-29 21:14] bakawun opened #142 "Feature Request: Allow (user selectable) background music (like on a real DSi)"
Please add a feature to have background music playing while TWLoader is running.

This feature was just implemented in that eshop clone if you want to see how its done.

[2017-01-29 21:19] samualtnorman commented on #138
I have a CFW but I do not have fbi

[2017-01-29 21:20] maorninja commented on #142
Sigh.

I think that there should be an "issue" called **READ THE WIKI BEFORE POSTING!!!**

This is already a thing.

Besides, this discussion should go on GBATemp, as this is a place for issues, not a discussion place...

[2017-01-29 21:20] Jolty95 commented on #138
You need FBI (or another program that can install cia files)

[2017-01-29 21:24] samualtnorman commented on #138
I know but how do i get fbi? I followed this guide, http://wololo.net/2016/07/24/3ds-install-fbi-cia-files/, but i receive this error... Unsupported firmware version.

[2017-01-29 21:25] Jolty95 commented on #138
Follow the official guide for CFW http://3ds.guide/ is available also in multiple languages :)

[2017-01-29 21:26] Robz8 commented on #106
Nothing. I have no idea how to fix the bug.

[2017-01-29 21:33] Robz8 commented on #139
That might not be possible.

[2017-01-29 21:41] bakawun commented on #142
the wiki is not shown on the mobile page.
but I found it on step8 of the install guide

this is not discussion by the way, I am working on creating feature and function parity with a real DSi

[2017-01-29 21:41] #142 closed

[2017-01-29 21:51] samualtnorman commented on #138
Thank you for putting up with me so far, I'm doing it this way and I'll get back to you tomorrow.

[2017-01-30 02:42] maorninja commented on #142
There is a file called the ReadME. Its called like that for a fucking reason...

And yes, this is a discussion, as the tab says "Issues" for a fucking reason...

[2017-01-30 03:16] GerbilSoft commented on #142
@maorninja Cut the crap. We don't need you to berate everyone who doesn't read every single thing.

[2017-01-30 03:59] TheMCNerd2017 opened #143 "Issues when running games off of SD card"
Basically, whenever I try to load games off of the microSD card, they hang at a white screen and do not do anything. Only a few games do load up, but they experience very bad lag. An example would be Sonic Rush, which lags incredibly bad(audio also acts weird during these "lag spikes") whenever something new has to load, like text, sprites, sounds, etc.

I have also tried to launch games like Toy

[2017-01-30 04:07] deadair3210 commented on #143
Running games off of the SD card is still not perfect and is a serious WIP as far as I know.

Don't expect perfect gameplay or speeds

[2017-01-30 04:09] Robz8 commented on #143
This is currently normal. [nds-bootstrap](https://github.com/ahezard/nds-bootstrap) patches the roms to redirect Slot-1 reads to the SD Card.
Both ARM7 and ARM9 proccessors read the Slot-1 card slot, but since only ARM7 can read the SD Card, loading speeds will be slow, and with it now recently using the DSi WRAM as data transfar+cache, there's improvements.
nds-bootstrap is still being worked on,

[2017-01-30 05:30] maorninja commented on #143
For SM64DS, can you do a few debugging steps for me?

The steps I'm talking about are the steps mentioned at the nds-bootstrap thread talking about debugging SM64DS...

[2017-01-30 05:42] deadair3210 commented on #132
Same problem here, worked fine until updated to latest. Guru error

Flashcard: R4i-SDHC 3DS

[2017-01-30 09:42] bakawun opened #144 "To-Do: Undo forking of projects"
I want to refactor the source tree to move out all the forks that are made.

The following forks will be removed:
NTR_Launcher fork
nds-hb-menu fork 1 (twloader)
nds-hb-menu fork 2 (nand side twloader)
nds-hb-menu fork 3 (flashcard side)

In place of the forks i will create a system of scripts and patches that work like this:
1. Script check out the remote project at the revision we want
2. Script

[2017-01-30 12:27] TheMCNerd2017 commented on #143
OK, what steps do you want me to do _maornija_?

[2017-01-30 12:32] TheMCNerd2017 commented on #143
Also, I found out that the class of the microSD in my system is a Class 4, which explains why some things are quite slow.

[2017-01-30 13:33] bakawun commented on #144
@Robz8

I made a patch diff file for your undocumented changes to ntr_launcher.
I uploaded it to gist here https://gist.github.com/bakawun/984b3252258c2feb2b250f166db8ec18

Can you tell me which of these changes where done by you, and which of them are because ntr_launcher got updated by apache thunder

[2017-01-30 15:05] GerbilSoft commented on #143
SD class indicates minimum write speed. Class 4 means your card is guaranteed to sustain at least 4 MB/s when writing. It doesn't say anything about minimum read speed or maximum read/write speed.

[2017-01-30 16:22] tetsuo55 commented on #144
@Robz8

Can you also tell me what the flashcard side is a fork of?

[2017-01-30 17:05] Robz8 commented on #144
The NTR_Launcher fork only does the Slot-1 launching, no splash screen.
Also, nds-hb-menu fork 1 (twloader) is not a fork of nds-hb-menu.

[2017-01-30 17:43] bakawun commented on #144
Can you go into some more detail?
what is twloader a fork of if not of nds-hb-menu?

[2017-01-30 17:43] adrifcastr commented on #105
why is it closed now

[2017-01-30 17:44] Jolty95 commented on #105
I close this because this is already implemented and will be available in the next release version

[2017-01-30 17:47] Robz8 commented on #144
It's not a fork of anything.

[2017-01-30 18:10] bakawun commented on #144
I cannot explain what happened there but you are completely right.
There isn't even a twloader folder in the source tree

So where do flashcard side and nand side source trees come from?

[2017-01-30 18:14] Robz8 commented on #144
Source tree?

[2017-01-30 18:40] TheMCNerd2017 commented on #143
Oh, OK. But when I tested the card manually, the highest write speed I got was around 8 MB/s. Is that a good write speed?

[2017-01-30 21:14] BluntJoy opened #146 "ROMs not showing up?"
Maybe I'm putting them in the wrong folder; I put them in _nds

[2017-01-30 21:16] hectortillo commented on #146
The roms should be in sdcard:/roms/nds :)

[2017-01-30 21:24] BluntJoy commented on #146
Thankyou :D

[2017-01-30 21:24] #146 closed

[2017-01-30 21:35] samualtnorman commented on #138
Thank you @Jolty95 I have it all set up now.

[2017-01-30 21:35] #138 closed

[2017-01-31 01:29] maorninja commented on #143
@TheMCNerd2017

[2017-01-31 01:55] Margen67 commented on #105
https://jenkins.hakujou.fr/job/3DS/job/TWLoader

[2017-01-31 08:21] Jolty95 commented on #105
@Margen67 what's wrong with jenkins?

[2017-01-31 08:23] Margen67 commented on #105
Nothing. I'm just posting it in case they need it.

[2017-01-31 09:30] bakawun commented on #144
With source tree i mean the directory structure(tree) of the source code(source)

[2017-01-31 12:54] adrifcastr commented on #105
oh, I havent seen any commit implementing it. sorry then thank you.

2017-01-30 18:44 GMT+01:00 Jolty <notifications@github.com>:

[2017-02-01 18:26] Robz8 commented on #132
The issue should be fixed in v3.2.

[2017-02-01 18:26] #132 closed

[2017-02-01 18:27] #64 closed

[2017-02-01 18:27] Robz8 commented on #131
Version 3.2 has been released.

[2017-02-01 18:27] #131 closed

[2017-02-01 18:28] Robz8 commented on #8
Cheats are on the todo list.

[2017-02-01 18:28] #8 closed

[2017-02-01 18:28] Jolty95 commented on #58
Solved some release before.

[2017-02-01 18:28] #58 closed

[2017-02-01 18:29] #98 closed

[2017-02-01 18:30] #143 closed

[2017-02-01 18:32] Jolty95 commented on #128
Solved in v3.2 ;)

[2017-02-01 18:32] #128 closed

[2017-02-01 18:32] Robz8 commented on #139
I can make the icon jump up and back down with Up button, though,

[2017-02-01 18:32] #139 closed

[2017-02-01 18:33] Robz8 commented on #104
Version v3.2 should fix the issue.

[2017-02-01 18:33] #104 closed

[2017-02-01 18:33] Robz8 commented on #106
The red screen and "Guru Meditation error, data abort" no longer appears in v3.2.

[2017-02-01 18:33] #106 closed

[2017-02-01 18:34] Jolty95 commented on #80
It's fixed some releases ago

[2017-02-01 18:34] #80 closed

[2017-02-01 18:35] #100 closed

[2017-02-02 00:28] tetsuo55 commented on #139
Did you close by accident?

[2017-02-02 00:37] Robz8 commented on #139
No.

[2017-02-02 01:36] deadair3210 opened #150 "NDS partner program (flashcard-side) keeps glitching"
Updated to the latest version today, now instead of it flat out dying with a error, its doing weird things like freezing after adding one game, and showing nothing in the folder after it adds the game if it doesnt freeze

[2017-02-02 02:05] chronoss09 opened #151 "Add game : freeze on a second game"
Add game work now with the last build but you can't add 2 game, the 3ds freeze and you must quite twloader for add asecond game :(

[2017-02-02 02:15] Robz8 commented on #150
That's an issue I can't seem to fix. Sorry.

[2017-02-02 02:22] Robz8 commented on #150
On second thought, I have an idea that might fix this issue.

[2017-02-02 02:31] deadair3210 commented on #150
Ok, just to let you know, the 3ds app is also randomly stuck trying to update all the time, even though its already up to date

[2017-02-02 05:10] deadair3210 opened #152 "3DS crashes when TWL side of app is updated by the updater"
Happens as of latest update 3.2.1

If you use FBI to install the TWLNAND side, it seems to install fine, but if you go into the app and set the app to autoupdate,and set the nds bootstrap to release, the next time the app boots it will look for updates, update the app to the newest version and then attempt to update the TWL side only to hit a error and crash the 3ds to the point that the user has

[2017-02-02 06:42] chronoss09 opened #153 "Add full translations"
I can help you to translate twloader in french because the french language is not completed. Tell me just why to do and i will make my best...

[2017-02-02 06:45] Margen67 commented on #152
What entrypoint are you using?
Are you using emuNAND?

[2017-02-02 06:47] chronoss09 opened #154 "Denor Rom bouton"
It make any affect when i press A inside...

[2017-02-02 06:58] Margen67 opened #155 "[Request] Custom themes"
It would be nice to have custom themes like FBI which lets you customize colors, logos, etc.

[2017-02-02 07:19] Barawer commented on #152
I had the same problem, running the CIA version. using luma and no emunand.

[2017-02-02 09:30] bakawun commented on #155
this is already possible to some degree, you can select a custom image for the bottom screen

[2017-02-02 09:31] bakawun commented on #139
is there any way to create a custom order for the games?

[2017-02-02 09:36] bakawun commented on #153
currently the following strings are translatable
https://github.com/Robz8/TWLoader/blob/master/gui/source/language.cpp#L40

[2017-02-02 09:38] bakawun commented on #144
@Robz8 any chance of you explaining which revisions you imported ntr_launcher and hb menu from?

[2017-02-02 09:39] bakawun commented on #141
@Robz8 @Jolty95

I think we should label this one as help wanted

[2017-02-02 09:40] bakawun commented on #34
@Robz8 if you have no intention of allow remote installs through ftp then this can be closed with

[2017-02-02 09:42] Jolty95 commented on #154
what do you mean? After pressing set/unset donor rom, it works automatically

[2017-02-02 09:43] bakawun commented on #21
@rpalmon

adding the apps should already work
however if they work or not from bootstrap depends on bootstrap
maybe you can add your test results to the compatibility list there

this ticket can be closed

[2017-02-02 09:43] Jolty95 commented on #151
Are you using latest v3.2.1?

[2017-02-02 09:44] Jolty95 commented on #141
Done

[2017-02-02 09:45] bakawun commented on #16
If the instructions on the wiki or Readme. MD are clear enough this ticket can be closed.

if not then they should be updated.

for the most part Travis.xml contains the most detailed requirements for building

[2017-02-02 09:46] bakawun commented on #9
@Robz8 do you intend to implent custom led colors?

[2017-02-02 09:54] #16 closed

[2017-02-02 10:07] chronoss09 commented on #153
Thanks but GUI is imcomplet and i can't see NTR/TWL-mode setting...

[2017-02-02 10:07] Jolty95 commented on #153
@chronoss09  Only English is fully translate. Is in my TODO list for next release tho

[2017-02-02 10:15] chronoss09 commented on #153
So, with the next release, we can translate all menu for TWLoader ?

[2017-02-02 10:17] Jolty95 commented on #153
I'm trying to translate it, but ex, my language is spanish so other languages for me can be a bit difficult. Also atm I'm trying to fix some bugs but I hope translations get finish asap :)

[2017-02-02 10:30] chronoss09 commented on #153
Send me a txt file and i will make my best to help you with the french language

[2017-02-02 10:32] Jolty95 commented on #153
I'm working on the PR right now but when I finish I'll tell here. Also, I need help with other languages so if anyone want to help....

[2017-02-02 10:38] chronoss09 commented on #153
ok, i'm waiting for.....

[2017-02-02 10:38] bakawun commented on #153
@Jolty95 you don't have to translate any other languages, just keep it all English for the rest and wait for people to provide translations

[2017-02-02 10:46] chronoss09 commented on #153
@bakawun : good thing 👍

[2017-02-02 11:07] Jolty95 commented on #152
It's solved in latest PR ;)

[2017-02-02 11:07] #152 closed

[2017-02-02 11:09] Jolty95 commented on #9
This can be close ;)

[2017-02-02 11:09] #9 closed

[2017-02-02 11:45] Valeri0p commented on #155
You can also change menu and border color: https://github.com/Robz8/TWLoader/wiki/Options-and-usage

[2017-02-02 15:33] chronoss09 commented on #154
Can you tell me if i press A to Donor Rom, what can i must see ?

[2017-02-02 15:34] chronoss09 commented on #151
Not yet. I'm on 3.2 now...

[2017-02-02 15:35] Jolty95 commented on #154
If you touch/press A to set Donor Rom the dialog box autoclose. I mean that no text saying if correct/fail appear. It's all transparent.

[2017-02-02 15:57] chronoss09 commented on #151
Samething with the 3.2.1, freeze with the second game 👎

[2017-02-02 17:14] mitchellmebane commented on #144
From manual inspection, the closest NTR_Launcher commit seems to be [ApacheThunder/NTR_Launcher@1b08c12](https://github.com/ApacheThunder/NTR_Launcher/tree/1b08c127a1da441ecea9cd5358fd581477edd435).

[2017-02-02 19:05] hectortillo commented on #154
You will see how dissapear the menu and bringa you back to Rom selection :) (that is the signal that it worked ) :)

[2017-02-02 19:07] hectortillo commented on #151
Do you have put all the updated files (the new ones) on the correct path? :) i havent tested it now but probably is that. :)

[2017-02-02 19:09] hectortillo commented on #150
Jolty95 already patched it out in a PR :) the next version release you should update manually by FBI and it should work properly from now on :)

[2017-02-03 05:44] noxiousninja opened #158 "CartPrompt FR/IT images missing from repo"
2ce6cb42f0d723ce3899231004dd21607a44c4e6 added French and Italian CartPrompt images, but it seems the `.bmp` files didn't get added at the same time, which breaks the build.

[2017-02-03 06:06] Robz8 commented on #158
Now fixed in the latest commit.

[2017-02-03 06:06] #158 closed

[2017-02-03 11:43] chronoss09 commented on #154
Now it work, thanks ;)

[2017-02-03 11:45] chronoss09 commented on #151
yes, i'm on 3.2.1 and all new file are installed :(

[2017-02-03 12:22] chronoss09 opened #159 "[REQUEST] Multiple request"
1- Is it possible to make a combo button to return to TWLoader after launching a game or after add a game to TWLoader ?

2- Make if possible a button to delete a game added on TWLoader.

3 - Possibility to switch to different bootstrap with Select boutton on the game (same boutton as Donor Rom)

4 - Make a cheat fonction for YSMenu on TWLoader with Select boutton on the game (same as Donor Rom)

F

[2017-02-03 14:36] OctoNezd opened #160 "Guide for translating?"

[2017-02-03 17:02] bakawun commented on #159
Pull request are used for when you write code changes and want to commit them to the project.

[2017-02-03 19:15] Robz8 commented on #159
1. No. That requires hacking TWL_FIRM, which is currently hard to do.
2. Maybe.
3. Probably not a good idea.
4. No.

[2017-02-03 19:37] mariogamer2 commented on #144
I think this idea is very good.

[2017-02-03 23:07] chronoss09 commented on #159
Ok thanks alot :)

[2017-02-03 23:24] hectortillo commented on #154
You're welcome :)  if there is not more problems i think we should close this issue :)  @chronoss09

[2017-02-03 23:27] hectortillo commented on #151
Then we should close this issue ? :)

[2017-02-03 23:35] #151 closed

[2017-02-03 23:36] #154 closed

[2017-02-03 23:36] #159 closed

[2017-02-05 06:01] jakem72360 opened #161 "[REQUEST] Luma Payload Support"
Would it be possible to also have a Luma payload so that TWL can be invoked with a key combination during startup?

[2017-02-05 06:03] jakem72360 opened #162 "[REQUEST] Edge DS Flashcart Support"
Is it possible to support the older Edge DS flashcarts? Or, do they use an incompatible method of booting/loading ROM's?

[2017-02-05 21:24] Robz8 commented on #162
No.

[2017-02-05 21:25] #162 closed

[2017-02-05 23:39] Lykie commented on #161
1. It's not a luma payload it's a brahma payload (I think)
2. You can't boot into apps from boot.

[2017-02-05 23:46] #161 closed

[2017-02-06 15:54] hectortillo opened #163 "isnt possible to add suppor for multisave?"
Like the r4 and multisaves (up sometimes to 9)
Example
Castlevania Dawn of sorrow.sav
Castlevania Dawn of sorrow.sav1

Or something similar?

Thanks for all your hard work :) this project was incredibly growing fast :D all the team involved on this are awesome :D.

[2017-02-06 19:56] capito27 opened #166 "small issue when exiting the "search" feature"
When backing from the "search" feature on the GUI part, you get always taken to the 3rd slot on the list, which sometimes places you outside of the list in the gui (like if you don't have any flashcard games and are on flashcard rom list), this is totally minor, but mildly annoying :)

[2017-02-07 00:59] deadair3210 opened #167 "App continually updates itself"
1. Open app

2, Auto Update triggers, and installs the latest versions

3. updates nds-bootstrap

4.App Closes to home menu

5, GOTO 1

[2017-02-07 02:55] Roboron3042 commented on #167
Same here...

[2017-02-07 03:18] Robz8 commented on #167
For now, in "sdmc:/_nds/twloader/settings.ini", set AUTODOWNLOAD in [FRONTEND] to 0.

[2017-02-07 03:33] deadair3210 commented on #167
Didn't work, had to delete settings file and let the app recreate it

[2017-02-07 03:47] deadair3210 opened #168 "App crashes with Data Abort when source is changed"
After I deleted the settings file and let the app recreate it, the app now crashes anytime I try to change the source from SD card to Flashcard.

[2017-02-07 03:52] Robz8 commented on #168
What happens if you set FORWARDER in [TWL-MODE] to 1 in "sdmc:/_nds/twloader/settings.ini"?

[2017-02-07 04:00] deadair3210 commented on #168
Immediate Data Abort, would the crash dump help?

[2017-02-07 04:02] Robz8 commented on #168
Dunno. Please attach it.

[2017-02-07 04:08] deadair3210 commented on #168
Do you need any other files other than the dump?

[2017-02-07 04:08] Robz8 commented on #168
No, just the dump.

[2017-02-07 04:13] deadair3210 commented on #168
Uploaded
https://mega.nz/#!xUcw3LCZ!aVdGqm5hkZUFRxnFZz8KxZkdOPbeiYyGKvux-E2jEZQ

[2017-02-07 04:18] Robz8 commented on #168
Hmm, try deleting your flashcard game .ini files.

[2017-02-07 04:27] bui opened #169 "Application freezes on boot logo as of v3.2"
Using TWLoader 3.3, Luma on emunand, system version 11.2
Even after a fresh install (deleted _nds dir and copied from release, installed TWLNAND CIA on both sys and emunand), the system completely freezes at the stage where it's just the logo with the red outline on the top screen.

Any ideas?

[2017-02-07 04:30] Robz8 commented on #169
Nope.

[2017-02-07 04:32] deadair3210 commented on #168
Completely deleted _nds folder, can switch fine now

[2017-02-07 04:34] Robz8 commented on #168
Good to know.

[2017-02-07 04:34] #168 closed

[2017-02-07 04:39] deadair3210 opened #170 "TWL mode feature request"
Would it be possible at all to maybe make it to where you can add a folder of games to the app instead of one by one. Most flashcards keep all games in one folder, so being able to add a folder at a time would be useful

[2017-02-07 05:24] bui commented on #169
I did some testing, and 3.0 seems to be the breaking version. 2.4.2 works perfectly fine.

[2017-02-07 05:43] bui commented on #169
OK, disregard that, 3.2 is the version that breaks. I should probably mention I am using a JPN system, and I do not have a card in slot-1, if that can help narrow down the problem.

[2017-02-07 07:56] Margen67 commented on #169
Why are you using emuNAND?

[2017-02-07 08:37] tetsuo55 commented on #167
Yeah the old setting file(s) needs to be deleted

[2017-02-07 10:04] d0k3 opened #171 "[Request] Improve update download handling"
When updating something (nds-bootstrap / TWLoader), there is no progress inidcator and no way to cancel the update. Meaning: For people on a slow internet connection, this looks like TWLoader froze.

Is it possible to add a progress indicator and maybe add a cancel button (which should be B, I guess)?

[2017-02-07 10:09] elliot-forty-two commented on #169
I am also having this problem, I copied and overwrote with the files from 3.3 and getting stuck at the splash screen. Is there any debug I can get out of it to help?

[2017-02-07 10:40] elliot-forty-two commented on #169
I can confirm that it's 3.2 that breaks for me, 3.1 loads OK. I'm using an o3DSXL with 11.2.0 EUR, A9LH and Luma3DS. TWLoader is installed from CIA.

[2017-02-07 10:45] Margen67 commented on #169
If you're using a non-A9LH entrypoint you should use http://3ds.guide/
If you already have A9LH then https://3ds.guide/move-emunand

[2017-02-07 10:48] elliot-forty-two commented on #169
I'm using A9LH with Luma on SysNAND so the freeze doesn't appear to be EmuNAND related.

[2017-02-07 11:21] elliot-forty-two commented on #169
It's getting stuck just after the Wifi status is established as enabled. If I turn Wifi off then it loads fine both with 3.2 and 3.3.

[2017-02-07 12:05] elliot-forty-two commented on #169
I found how to enable the log file. It's getting stuck after:
`Method: <Main.LoadBootstrapConfig> : Message:<Bootstrap configuration loaded successfully>`
with 2 or 4 of:
`Method: <WifiStatus> : Message: <Active internet connection found> 	Additional info:<11:22>`
and should get to this according to a run with Wifi off:
`Method: <LoadColor()> : Message:<Colors load successfully>`

It must be getti

[2017-02-07 13:36] kade-robertson commented on #167
@Robz8

I'm not sure if this is by design or not, but you check the version of bootstrap with `checkBootstrapVersion()` and do nothing with the data. Shouldn't this function be returning some value to indicate that the version is new? I'm not very familiar with your codebase and with 3DS development in general so I will leave this to someone else to figure out (especially as I can't do debugging r

[2017-02-07 14:16] Jolty95 commented on #167
@kade-robertson  I was the one that create checkBootstrapVersion() and that method only check, download and store the string that is shown in settings. I wrote it like this because I don't want to make it to use always latest version of bootstrap. Also downloadbootstrapversion is for downloading the "ver" string for bootstrap, not the .nds :)

[2017-02-07 14:31] kade-robertson commented on #167
@Jolty95 I'm not sure I understand, downloadFile clearly downloads the bootstrap file every time.. There is no condition preventing this:

    downloadFile(DOWNLOAD_OFFICIALBOOTSTRAP_URL,"/_nds/release-bootstrap.nds", MEDIA_SD_FILE);

from running every single boot. I know this is the behaviour because I use this app nearly every day and it downloads the bootstrap .nds every time. So this currentl

[2017-02-07 14:34] Jolty95 commented on #167
@kade-robertson  If you have bootstrap set to auto download at launch, it will download no matter what version do you have in SD

[2017-02-07 14:40] kade-robertson commented on #167
@Jolty95 As far as I can tell that's what the original issue was for. Is there a particular reason this doesn't check if the version is different first? I know the projects are separate but surely this app could check so the file doesn't have to be downloaded every time.

[2017-02-07 14:43] bakawun commented on #167
I have been looking at the code too after reading what @kade-robertson had to say and i think he may be on to something.

To me it looks like we are always deleting the ver files for nds_bootstrap before trying to read the version.
This is very different from the cia updating code where we redownload the ver file before reading it to update the view in settings.

Also this and https://github.com/R

[2017-02-07 14:45] Jolty95 commented on #167
@kade-robertson If you set bootstrap to auto download it will download on every launch of TWLoader. In the other side, is TWLoader GUI checker the problem (that other version was working right) that it's causing the issue. There is NOTHING wrong with bootstrap method afaik.
Also, why I didn't wanted bootstrap to check before downloading? Simply. I wanted to do it different from GUI checkUpdate met

[2017-02-07 15:01] bakawun commented on #167
@Jolty95 I don't think the download of nds is failing but the setting of the boostrap version for settings screen

[2017-02-07 15:03] Jolty95 commented on #167
@bakawun i'm completly sure checkUpdate is returning always zero (that's mean that there's an update pending) but magically when you put a "log" file to enable logs, checkUpdate works fine ._.

[2017-02-07 15:11] bakawun commented on #167
@Jolty95 you do not check the wifi status inside the checkupdate function before trying to download the ver file, could that be it?

[2017-02-07 15:16] Jolty95 commented on #167
@bakawun Imaging that that's the problem. checkUpdate start working and remove "ver" file, create the int res variable and call downloadFile. that method also checkWifiStatus so I don't think that's the problem because res = -1 and checkUpdate() = 0 when autodownload is on (and no log file)

[2017-02-07 15:18] bakawun commented on #167
I think you need to add !isUnknown  to here https://github.com/Robz8/TWLoader/blob/master/gui/source/download.cpp#L230

[2017-02-07 15:19] Jolty95 commented on #167
(didn't see the edited)
I don't really know what's  isUnkown variable and before that was working all fine

[2017-02-07 16:28] bakawun commented on #167
@Jolty95 could it be this: https://github.com/Robz8/TWLoader/blob/master/gui/source/download.cpp#L500

That is the only place where you give res a value of 0.
Does it perhaps need to be -1?

[2017-02-07 16:29] Jolty95 commented on #167
@bakawun  i can't test atm, maybe @Robz8 can get us some light to this problem.

[2017-02-07 17:59] bakawun commented on #167
@Jolty95 i found the issue but I am not sure how to fix it.
The problem seems to be that downloading the version files for bootstrap can go into an infinite loop

[2017-02-07 18:37] Jolty95 commented on #167
@bakawun I don't mind if anyone want to modify those codes :P Only log and keyboard files/methods have a "please do not modify" section but others that I didn't wrote that I really don't mind :P
Also as I said yesterday in the temp we're humans and sometimes bugs appear and we didn't notice them till it's a bit late ;)

[2017-02-07 21:36] Clement95 commented on #169
The problem surely appears every time TWLoader is being updated (precisely when there is the step to update TWL Nand Size (Sorry for English)

[2017-02-07 21:42] Clement95 opened #173 "Error "Press the POWER button" when I try to update TWLoader"
When I try to update TWLoader, the Nintendo error message appears, something like "Press the POWER button." My console crash precisely when TWLoader NAND Size tries to update itself, it repeats the same thing during the auto update at startup

[2017-02-07 21:45] Robz8 commented on #173
That should be fixed in the latest version, so no idea why it's happening to you.

[2017-02-07 22:08] Jolty95 commented on #173
Install latest cia version for GUI and NAND side manually. That error it's fixed in latest version.

[2017-02-08 11:22] Jolty95 commented on #167
Ok, I found the problem and I'm working on the update fix. Will be solve soon

[2017-02-08 12:09] Jolty95 commented on #167
https://github.com/Robz8/TWLoader/pull/174

[2017-02-08 12:09] Jolty95 commented on #169
Duplicated and solved https://github.com/Robz8/TWLoader/pull/174

[2017-02-08 12:12] Jolty95 commented on #166
@capito27 Sorry the delay.
I'm unable to reproduce the problem. Would you mind to write the steps to reproduce it? :)

[2017-02-08 12:14] #150 closed

[2017-02-08 12:29] bakawun commented on #173
This was fixed in 3.3 but unfortunately it cannot update itself to the new version because of the bug.
Installimg manually like @Jolty95 said should solve the issue.

Issue can be closed

[2017-02-08 12:30] #173 closed

[2017-02-08 12:57] capito27 commented on #166
sure thing, open TWLoader, select flashcard as a game location, while not having any .ini file for flashcard roms, then select the search option, press cancel, and you'll be on the third place of the bottom screen list. here is a picture of the end result (ignore the reported date on the 3ds) : http://i.imgur.com/4Av31td.jpg
let me know if you need anything else, the issue was present on the lates

[2017-02-08 12:59] Jolty95 commented on #166
Oh, I see
Thanks for report ;)
Actually, search function is not implemented for flashcard side (yet) that's why the cursor is there.

[2017-02-08 14:29] Jolty95 commented on #166
https://github.com/Robz8/TWLoader/pull/174 :)

[2017-02-08 14:29] #166 closed

[2017-02-09 01:24] bui commented on #169
This specific issue still persists for me on 3.3.1. @elliot-forty-two, are you able to replicate?

[2017-02-09 01:37] Robz8 commented on #169
For some reason, creating "log" in "sdmc:/_nds/twloader/" fixes the issue.

[2017-02-09 01:48] bui commented on #169
@Robz8 Nope, still looping over `WifiStatus`.

[code]

[2017-02-09 03:13] Robz8 commented on #169
Any ideas @bakawun and @Jolty95?

[2017-02-09 08:51] Jolty95 commented on #169
I'll take a look bug I needed he/she to help me testing ;)

[2017-02-09 08:56] bakawun commented on #169
We can and should expand the logging to include everything.
So if and when i have time i will make the log extremely verbose.
This will not slow down the app because logging is now disabled by default.

Another thing to note is that it may be the case that this just does not work from emunand at all.

[2017-02-09 08:57] Jolty95 commented on #169
No.
I think was it's causing the problem and I'm working on it. Gimme some time to fix it

[2017-02-09 09:01] bakawun commented on #169
Great!

I will still add more logging though as i go through the code.

[2017-02-09 09:04] Jolty95 commented on #169
I've added some too. Wait until I finish to avoid conflicts in the PR :)

[2017-02-09 09:12] Jolty95 commented on #169
I found a big bug and now It's solved. I'll continue looking at the code just to be sure that was the problem.

[2017-02-09 09:16] Jolty95 commented on #169
@bui Can you show in a pic the content of `SD:\_nds\twloader` ?

[2017-02-09 09:41] bui commented on #169
![image](https://cloud.githubusercontent.com/assets/1788767/22777688/f27b300c-eeab-11e6-940c-6e1c7bf886ee.png)

[2017-02-09 09:47] elliot-forty-two commented on #169
Still a problem for me with 3.3.1 on SysNAND. I tried to compile TWLoader myself to do some more testing/debugging but my compiled CIA just crashes during the splash screen.

I did a packet capture with 3.3 and there are many repeated requests to raw.githubusercontent.com that either are just repeated or there's something wrong with the SSL request, it's all encrypted so can't tell what's actually

[2017-02-09 09:48] Jolty95 commented on #169
I know what to do now...
For some reason you don't have release-bootstrap and unofficial-bootstrap file (it's a plain text file not the `.nds` file.
Follow this steps please and send me back two logs.ini files:
Steps:
1. delete log and log.ini
1. install this version (don't bother in deleting anything, just install with FBI)
1. open TWLoader and if it doesn't close, shutdown your console and copy

[2017-02-09 09:57] capito27 opened #177 "Unable to use "Add Games" with my Acekard 2i"
Hi, i've followed the initial installation guide from the wiki and the specific part for flashcards, i've dowloaded the appropriate pack for my flashcard from the list (the fourth one from the top), i've copied to my flashcard's SD card root the appropriate _nds folder and the GBArunner file, i've selected the right flashcard list from the GUI title.
I'm able to launch titles from the 3ds SD card

[2017-02-09 09:59] bui commented on #169
Log 1
[code]

Log 2
[code]

TWLoader worked after placing the two bootstrap text files. I don't know if you were aware, but in the 3.3.1 release they are included, but inside `sdmc://_nds/`. Could it have been an oversight, or do they need to be in both directories?

![image](https://cloud.githubusercontent.com/assets/1788767/22778328/76169a3a-eeae-11e6-8fb8-ec18e3921d91.png)

[2017-02-09 10:03] Jolty95 commented on #169
@bui your problem was that the method we use to download is not working right on you. I don't know how to fix it tho....but, just a question, was twloader update, boxarts, etc downloading fine? If you don't mind, I can send you another debug version to test if now it's downloading for you
And about 3.3.1 that was a great mistake in my side... sorry for that. .nds files should be in `SD:\_nds`  and

[2017-02-09 10:03] Jolty95 commented on #169
Oh, just delete log.* files in twloader folder again :)

[2017-02-09 10:07] bui commented on #169
Boxart download is fine, but when I tried to update bootstrap in settings, it freezed.

And sure, I don't mind testing to try and fix the issue.

[2017-02-09 10:15] Jolty95 commented on #169
Sorry the delay :)
![qr](http://www.qrcode.es/wp-content/themes/ultra/qrcdr/qrcodes/3a6e37914fd707cb67c179d3f36ed4e9.png?1486635228723)
Just press X and later Y or vice versa to update bootstrap string. It should change. If 3ds crash/freeze let me know and send me back the log again :)

[2017-02-09 10:16] Jolty95 commented on #177
@capito27 For the time I'm writting this, I forget to update the wiki some days ago (I was bussy to).
Follow the steps from [here](https://gbatemp.net/threads/twloader-ctr-mode-nds-app.448375/) until I update the wiki again :)

[2017-02-09 10:21] elliot-forty-two commented on #169
I tried to install using the QR code and it failed in FBI with "Failed to verify TLS certificate (60)". This seems like a similar problem to what I was seeing in the pcap.

[2017-02-09 10:22] bui commented on #169
[code]

Also, yes, I also got TLS verification errors when installing the CIA through github servers. Looks like that might be the problem?

[2017-02-09 10:26] bui commented on #169
@elliot-forty-two What region is your 3DS, and what system version are you on? I'm wondering what might cause different systems to have different CAs in the trust store.

[2017-02-09 10:28] elliot-forty-two commented on #169
I'm EUR region, 3DS actually from Australia originally. I'm running 11.2.0-35E with A9HL and Luma3DS.

[2017-02-09 10:34] bui commented on #169
What's more bizarre is that if I open `https://raw.githubusercontent.com/Jolty95/TWLoader-update/master/release-bootstrap` in the 3DS browser it loads fine. Not sure what's up with that.

[2017-02-09 10:39] Jolty95 commented on #169
Sorry for the QR.
Can you download manually from [here](https://github.com/Jolty95/TWLoader-update/blob/master/beta/TWLoader.cia?raw=true) ?
I have no problem downloading from github. Are you using any custom wifi options?

[2017-02-09 10:42] bui commented on #169
Nope. Everything is default. GitHub HTTPS works fine in the internet browser, the issue seems to be with homebrew applications...

[2017-02-09 10:43] Jolty95 commented on #169
Using the cia I posted bootstrap text have changed?

[2017-02-09 10:49] bui commented on #169
Changed where? It is still `16459a2` and `0.4.0` in options. Log file is the same even after deleting. I am using the bootstrap files you posted earlier. Every time I try to update unofficial/release, that version file is deleted before freezing.

[2017-02-09 10:52] Jolty95 commented on #169
That's what I was asking :P
Now we confirm the problem is that your console (and @elliot-forty-two too) doesn't download from github bootstrap ver files...It shouldn't freeze at all tho

[2017-02-09 10:55] elliot-forty-two commented on #169
The freeze is because it's re-trying the download in a loop. downloadFile checks for 3xx and 200 codes but I don't think the request is even getting to anything HTTP related and failing the SSH handshake. Is there an error state you can check in that loop to break out if SSH fails? It wouldn't freeze then but we still have the problem of TLS erroring.

@Jolty95 can you download using FBI and the Q

[2017-02-09 10:56] bui commented on #169
I think it might be a ctrulib issue since FBI is also failing to download from the same host. But the issue of TWLoader freezing when the download fails should still be fixed.

[2017-02-09 10:59] Jolty95 commented on #169
I can download the QR and it install fine that's why I really don't understand why it's freezing at all. downloadFile method is not too good to be honest but before that was "working" fine (or at least no one notice about that problem you know) I don't know how to handle the freeze neither :(

[2017-02-09 11:04] elliot-forty-two commented on #169
Well there's a `if (ret==0)` that has no `else` and maybe `httpcBeginRequest(&context);` needs to have its result checked. I'd put in some debug myself but my compiles don't work for me.

[2017-02-09 11:04] Jolty95 commented on #169
Just to be sure. You both have change a region change?

[2017-02-09 11:04] Jolty95 commented on #169
@elliot-forty-two thanks for pointing that out ;) I'll take a look to that too

[2017-02-09 11:05] bui commented on #169
I haven't changed my 3DS' region, nope.

[2017-02-09 11:06] elliot-forty-two commented on #169
I haven't made any changes to my region using Luma, it's the original region. I'm physically in the UK now but the 3DS was bought in Australia which is also part of the EUR region.

[2017-02-09 11:08] Jolty95 commented on #169
Ups, I misread, sorry.
I'll handle what @elliot-forty-two  said and post here a debug cia. Hopes this time won't freeze (and sorry for the problem but it's difficult to fix something that it's working ok in my side :()

[2017-02-09 11:13] elliot-forty-two commented on #169
That's OK. I know how difficult it is to fix these things if you can't actually reproduce the issue.

[2017-02-09 11:30] Jolty95 commented on #169
Done :)
Now if your console is an OLD and you turn the wifi slider off, it doesn't freeze :D
Please, test it :)
![qr](http://www.qrcode.es/wp-content/themes/ultra/qrcdr/qrcodes/3a6e37914fd707cb67c179d3f36ed4e9.png?1486639766016)

[2017-02-09 11:35] bui commented on #169
Yep, the freeze problem is fixed now. Thanks!

[2017-02-09 11:36] Jolty95 commented on #169
Yeah!! ^^
Can you go to settings, press X and Y later and post the log.ini to be completly sure the problem (at least the freeze one) is solve forever? :)

[2017-02-09 11:44] bui commented on #169
[code]

[2017-02-09 11:46] bui commented on #169
It does seem that attempting to update *does* delete the existing file... that probably shouldn't happen, in case the update fails.

[2017-02-09 11:46] Jolty95 commented on #169
At least we now the two problems.
First is that @Jolty95 need to learn more English. Response is with S :P
Second, httpcGetResponseStatusCode was causing the issue.

[2017-02-09 11:47] Jolty95 commented on #169
@bui You're right. But it that happen, No version available will show in settings (I have to modify a bit the code to show that)

[2017-02-09 11:54] Jolty95 commented on #169
[This](https://github.com/Jolty95/TWLoader-update/blob/master/beta/TWLoader.cia?raw=true) is going to be the PR version ;)

[2017-02-09 17:46] capito27 commented on #177
i've followed the flashcard secton on gbatemp, eventho it's relatively the same as the part of the wiki, i've replaced everything on my flashcard sd card with the AK2i pack and have copied the appropriate _ntr folder  to it, i've also copied the ntr_forwarder.ini file to my 3ds's sd card, in the _ntr folder. still the same issue of white screen when trying to add games.

[2017-02-09 19:27] Jolty95 commented on #177
Maybe @Robz8 can you better with this ;)

[2017-02-09 19:45] #169 closed

[2017-02-09 19:58] Robz8 commented on #177
It works for some users, actually, so I dunno. I don't own an Acekard 2i.

[2017-02-09 20:07] capito27 commented on #177
i may have an idea about why it may not work for me ; the AK2I had 2 HW revisions, HWID 44 and HWID 81 , per this gbatemp page : https://wiki.gbatemp.net/wiki/Updating_the_AK2i_Bootloader, i have the HWID 81 revision, according to my current card icon being "Pippa Funnell", so my theory is that the other people are using the HWID44 and working fine, yet the HWID 81 is not working properly.

Not qu

[2017-02-10 02:28] chronoss09 opened #181 "Delete game add to flashcard"
For some reson, i want delete some game added to TWLoader but i can't. Is it possible to make deleting option in the news release ?

[2017-02-11 00:02] mariogamer2 commented on #153
@chronoss09 Hey don't do the full translation please (or,in another word: leave me something xd).

[2017-02-11 03:47] Theorvolt opened #184 "TWLoader showing that "The sd card has been removed""
After updating to TWLoader 3.3.1 and nds bootstrap 0.4.0 and relaunching, it displays that the sd card has been removed. I have checked this sd card and confirm it is not corrupted. If I reinstall TWLoader, it will open and remain at TWLoader until I turn it off. This seems like a one-of probelm and not a general bug.

[2017-02-11 03:53] Robz8 commented on #184
The issue should be fixed in the next version.

[2017-02-11 07:05] Theorvolt commented on #184
It seems that wasn't the end. After uninstalling both TWLoader and TWL side and reinstalling, it fails to install TWLoader. TWLside works but TWLoader keeps showing the following error:

Failed to install CIA file:
Result code: 0xD8E0806A
Level: Permanent (27)
Summary: Invalid argument (7)
Module: AM (32)
Desc: Cert signature or hash check failed (106)

[2017-02-11 10:10] Jolty95 commented on #184
@Theorvolt what CFW are you using?

[2017-02-11 10:11] Theorvolt commented on #184
Luma.

[2017-02-11 10:12] Jolty95 commented on #184
Give us more details. Model of the console, your entrypoint, A9LH? Emunand?

[2017-02-11 10:20] Theorvolt commented on #184
2ds on 11.2.0.33-E. No emunand, of course there is A9LH. Also I am installing as a cia.

[2017-02-11 10:22] Jolty95 commented on #184
I asked you because some users try to launch FBI from HBL or without A9LH in a weird configuration.
You have a problem with your SD card. Try to re-download again the .cias from release pages. If it's saying the same error, it's your SD card that's fake, damage, or doesn't have space left

[2017-02-11 10:26] Theorvolt commented on #184
for the legitamacy of the sd card, its certainly real. I have tested it and it isnt corrupted either. Yes I have tried redownloading the cia file and reinstalling both TWLoader and the twl side cia. But still stuck on the failed to install screen.

[2017-02-11 10:28] Jolty95 commented on #184
I'm 99% sure it's your SD card or your console SD slot. If you have a New (it seems that you're using one) maybe it's your console that isn't reading correctly your SD card. If you can, try with another SD card. There is nothing more I can do from here.

[2017-02-11 10:30] Theorvolt commented on #184
New? Im using a 2ds. Anyway, I will do more testing and contact you if anything else pops up.

[2017-02-11 10:30] #184 closed

[2017-02-11 10:32] Jolty95 commented on #184
Oops sorry for that. I was thinking in the SD slot and I thought it was a New. Sorry you have this problem.

[2017-02-11 11:30] Margen67 commented on #184
@Theorvolt How did you test your SD card?

[2017-02-11 15:50] Theorvolt commented on #184
FakeFlashTester.

[2017-02-12 09:30] killer983 opened #186 "missing boxart"
Some boxart is missing in some games puts downloading and then does not show them (twloader 3.3.1)
![20170212_102808](https://cloud.githubusercontent.com/assets/25202703/22860995/0eb2e3a0-f10e-11e6-8c11-7aa432992437.jpg)
![20170212_102350](https://cloud.githubusercontent.com/assets/25202703/22861000/2c32eb28-f10e-11e6-821a-890bc532b1bb.jpg)

[2017-02-12 10:39] Valeri0p commented on #153
Emh...there is an error in the Italian translation:

`"Motivo",               	// "Language"
	"Theme",					// "Theme"
 `
Should be:
`  "Lingua",               	// "Language"
	"Motivo",					// "Theme"
`
Anyways, I think that "Tema" is a better translation than "Motivo".

[2017-02-12 10:39] Jolty95 opened #188 "WANTED VOLUNTEERS"
Translation control is already done in my side. Need some volunteers to translate some strings to:
-Japanese (I'm using translator right now)
-French
-German
-Italian
-Dutch
-Portuguese
-Simplified Chinese
-Korean
-Russian
-Traditional Chinese

Resume: all languages except English and Spanish.
For volunteers:
I'll send you a list with strings in English. Volunteers will be credited for they help.

[2017-02-12 13:12] hectortillo commented on #186
Which regionnare thebganesbthat havent boxart?

[2017-02-12 13:27] killer983 commented on #186
Fifa 11 europe
mario kart ds europe
New super mario bros europe
rafa Nadal tennis europe
sonic colors europe
tamagotchi conexión comer shop 2 europe
tetris ds  europe
tetris party deluxe europe

[2017-02-12 16:50] maorninja commented on #188
I'll do french.

@mariogamer2 could help also with french.
For Spanish, you could ask JeDaYoshi. I'll contact him later.

[2017-02-12 17:03] Jolty95 commented on #188
@maorninja  I'm spanish xD I've done :P

[2017-02-12 17:09] Jolty95 commented on #188
@maorninja @mariogamer2  french is available. Could someone of you send me a PM in gbatemp to send you the file? :)

[2017-02-12 17:31] #160 closed

[2017-02-12 17:33] Jolty95 commented on #153
I'm going to close this because translations will be available soon.  I still need some help [here] (https://github.com/Robz8/TWLoader/issues/188)

[2017-02-12 17:33] #153 closed

[2017-02-12 18:25] mariogamer2 commented on #188
I'll do it.

[2017-02-12 21:31] hectortillo commented on #186
try this. change the language in settings to english. close the app and retry to open it. i had the same issue   i dont know why but it worked :)

[2017-02-12 21:32] Robz8 commented on #186
Not all box art are uploaded.

[2017-02-13 05:31] decinc opened #195 "can I push korean translate branch?"
I create korean.h for korean translation.

but I dont have push branch permission.

this is header file, but I can't upload language.cpp and settings.cpp because you will be hard to diff with original source.

this is my working file for korean translate.

[korean.h.txt](https://github.com/Robz8/TWLoader/files/770158/korean.h.txt)

[2017-02-13 06:31] killer983 commented on #186
Ok, They are not all boxart

[2017-02-13 06:31] #186 closed

[2017-02-13 09:29] Jolty95 commented on #195
I can add to my PR and credit you if you want. Only @Robz8 and me have push permission to this repo.

[2017-02-13 10:53] decinc commented on #195
yes, please add to your PR. thank you.

[2017-02-13 11:00] Jolty95 commented on #195
https://github.com/Robz8/TWLoader/pull/196
Done :)

[2017-02-13 11:00] #195 closed

[2017-02-15 10:27] Margen67 opened #200 "Set rom path from settings GUI"
As of https://github.com/Robz8/TWLoader/commit/e926472491a9ed08f433f555f938fbd519acf6f2 to set the rom path you need to edit the settings file manually outside of the app.

[2017-02-15 10:29] Jolty95 commented on #200
@Margen67  Sorry but I don't understand your question

[2017-02-15 10:34] Margen67 commented on #200
To set the designated rom path for TWLoader to load NDS roms from you have to edit the settings.ini file outside of TWLoader.

[2017-02-15 10:35] Jolty95 commented on #200
Oh, sorry for not understanding before. The reference commit was confusing me. I can add it in settings today or tomorrow (I'm a bit bussy atm) :)

[2017-02-15 10:50] Jolty95 commented on #200
@Margen67  Something like this? (It's a WIP)

![bot_0000](https://cloud.githubusercontent.com/assets/21294047/22971108/e07203ae-f374-11e6-9301-6838594bc453.png)

[2017-02-15 11:22] bakawun commented on #200
Yes that looks good

[2017-02-15 11:36] Jolty95 commented on #200
@bakawun  I'm on it, wait please xD

[2017-02-15 13:47] Lykie opened #201 "4.0 Release Instant Crash"
Installed it and updated files over previous installation, booting it always leads to the Luma stack dump error screen.

[2017-02-15 14:17] Jolty95 commented on #201
@Lykie can you post here the luma stack dump? Maybe I can find anything interesting on it :)

[2017-02-15 14:17] hectortillo commented on #201
in my 3ds it works :o probably try deleting old installation an d repeat :)

[2017-02-15 14:20] Lykie commented on #201
[crash_dump_00000036.dmp.zip](https://github.com/Robz8/TWLoader/files/777309/crash_dump_00000036.dmp.zip)

[2017-02-15 14:23] hectortillo opened #202 "Gbarunner2 do not work in Dsi Menu :)"
running it from Wood Theme works, Running it from R4 theme Works :) only Dsi Menu doesnt init it :)
Also i have seen the new branch of Gbarunner (the flie explorer one) and Tried it on my flashcard :) it Runs very good :) can it be placed in the next release version? :D :) also thanks for all your hard Work :D Robz8, Jolty95 :D bakawun :D and all the others implicated on this work :)

[2017-02-15 14:25] Jolty95 commented on #201
Do you have emunand? a9lh? Anything about your configuration: if you have installed nand side, wifi on/off, etc

[2017-02-15 14:25] Favna commented on #201
It works fine here. I upgraded by wiping the entire _nds folder on SDroot and flashcardroot as well as gbarunner on flashcard. I'm on Luma 6.6-ed8aee8 (hourly) on New3DS 11.3.0-36E

[2017-02-15 14:26] Lykie commented on #201
A9LH no emunand, wifi off and I have installed nand side from one of the last updates.

[2017-02-15 14:29] Jolty95 commented on #201
This is your dump
[code]
But I don't know where crashes...
Try deleting TWLoader from FBI and reinstall again using the cias

[2017-02-15 14:32] Favna commented on #201
Launched TWLoader with wifi ***off*** when having both bootstrap and twloader to auto download + deleted 2 previously downloaded box arts and it still launches so that's not related anyway.

[2017-02-15 14:39] Lykie commented on #201
Deleting and installing TWLoader and nand side fixed the problem.

[2017-02-15 14:39] #201 closed

[2017-02-15 14:41] hectortillo commented on #202
This version (atacched archive) :) it runs a lot of games with awesome compatibility ;D not works all games but it can play very well a grown list :) :D  how it can be run from TWLoader without getting the TEST screen? :)

it dont let me to add the archive so i let a link in mi drive with the archive :)
https://mega.nz/#!eNFWxAJS!3DBD1np3WXunDlOgwr77S3QX71O5NCi4Ueq7NhdniC8

[2017-02-15 15:01] maorninja commented on #200
Maybe TWLoader can alert the user that they don't have the folder and ask them if they want to make the folder??

[2017-02-15 17:13] Jolty95 commented on #202
a231eea6eb4f85ed235606d9c7fdee6f42563326 ;)

[2017-02-15 17:13] #202 closed

[2017-02-15 17:52] hectortillo commented on #202
Thanks. :D.

[2017-02-15 20:29] Robz8 opened #203 "List of issues Robz8 isn't getting"
- Exiting Settings if theme is set to Wood and DSi Menu crashes to HOME Menu.

[2017-02-15 20:54] Jolty95 commented on #203
@Robz8
`Exiting Settings if theme is set to DSi Menu crashes to HOME Menu.`
I'm not getting any crash with that. Tested in my OLD and NEW.

[2017-02-15 22:02] Zetchzie commented on #203
Im not having any issues either i flipped through a few last night

[2017-02-15 22:03] Robz9 commented on #203
I have the same problem. On my o3ds, when I start TWLoader, it crashes to the HOME Menu.

[2017-02-15 22:15] Mattery opened #204 "Stuck in reading nds file trying to add games from flashcard"
Well, i own a M3 DS Real and "Add games" worked the first time i tried succesfully adding 2 games, next day i tried to add another game but it didn't work, i was using a spanish rom with some fixes so i tried another rom from emuparadise but nope, i can't find any log so i'm a bit stuck, i had the same problem some time ago and i did a fresh install in my flashcard and it fixed it but i don't thin

[2017-02-15 22:21] Jolty95 commented on #204
Are you using latest TWLoader.nds file in flashcard?

[2017-02-15 22:26] Mattery commented on #204
I think so, no update was released when i did this(that was 5 days ago) and i updated today to 4.0.0, were the flashcard packs also updated?

[2017-02-15 22:28] Jolty95 commented on #204
Nop, just asking to get us more info ;)

[2017-02-15 22:30] Mattery commented on #204
I replaced again twloader.nds in the flashcard in it's respective _nds directory but no luck

[2017-02-15 22:46] Mattery commented on #204
well i just checked the twloader nds file and it appears that it should create a log file in sd:/_nds/twloader/ . Is that only in some cases or is it disabled? Maybe it doesn't create any error log after succesfully launching the file?

[2017-02-15 22:47] Jolty95 commented on #204
@Mattery log file is dissabled by default. To enable log, create a file and name it "log" with NO extension and put it on SD:\_nds\twloader and launch TWLoader again. It will create the log.ini file

[2017-02-15 22:47] Mattery commented on #204
Nice, gonna check it now

[2017-02-15 22:51] hectortillo commented on #203
i dont have that issue :o Old3ds :o

[2017-02-15 22:55] Mattery commented on #204
Nah it doesn't report anything after switching to NTR/TWL-mode

[2017-02-15 23:04] hectortillo commented on #204
do you have selected your flash card in settings? :) into the flashcard select in Options? :)

[2017-02-15 23:06] Robz8 commented on #204
His flashcard wouldn't work, if not.

[2017-02-15 23:06] hectortillo commented on #203
i found where it crashes . when you select "Game Location: Flashcard" enter options and try exit . then it crashes. it only happen into Flashcard   not SD :)

[2017-02-15 23:07] Mattery commented on #204
Exactly :P

[2017-02-15 23:09] Robz8 commented on #203
Didn't get the crash.

[2017-02-15 23:11] Mattery commented on #204
After rebooting by holding the power button the the rainbow effect continued even in homemenu, i doubt it's intentional. Looks nice tho

[2017-02-15 23:14] hectortillo commented on #203
into R4 Theme it works perfectly :)  but into DSi and Wood Themes it crashes when exit :)  i dont know if it only happens to me and to the one who reported this issue O.o

[2017-02-16 03:34] GrayJack commented on #203
Only with R4 theme I can get out without crashes
And even with R4 theme, it crashes when I try to load a game in the slot-1

[2017-02-16 05:40] Robz8 commented on #203
Tried fixing the issue, and one user reported that it no longer crashes with the R4 theme, but still crashes with the Wood and DSi Menu themes.

[2017-02-16 08:34] Theorvolt opened #205 "TWLoader not saving setting.ini"
After updating to the latest TWLoader, my nds-bootstrap started working again. However, the settings.ini file keeps on deleting itself if I try to create it for TWLoader to save to. I can't save my preferences because of this. I think you should be able to do it by deleting the settings.ini file.

Also I am using Luma + A9LH 11.2 ( No emunand) installed as a cia file.

[2017-02-16 14:31] adrifcastr opened #206 "German translation way to long in the select menu"
as said above. it´s a complete mess. I´d change the font size, to a lot smaller. :)

[2017-02-16 16:30] Valeri0p commented on #206
same for italian, specially in start and select menu xD

[2017-02-16 16:33] Valeri0p commented on #203
Can confirm that switching from  wood to dsi menu crash the app...
Old3ds twloader 4.0.2

[2017-02-16 17:18] Mattery commented on #203
Can't reproduce the crash as Valer0p said in old3ds(2ds) twloader 4.0.2, tried with all sub-themes, keeps stable.

[2017-02-17 02:25] rpalmon opened #208 "[Request] Add Option to cancel auto update from startup"
Hello, I think what would be a nice feature would be able to press a button (like b) to cancel the auto update.

I know I could disable the update but sometimes I would want to update automatically for when a new version comes out. This would be convenient for me as sometimes it takes quite a while to start the application with auto updates on.

Another reason I would like this feature is because

[2017-02-17 02:27] rpalmon commented on #208
There could also be a note on the bottom right of the cards when updating that could let you know you could press b to cancel.

[2017-02-17 03:08] Robz8 commented on #203
To those getting the crash, can you send me a crash dump?

[2017-02-17 03:29] Robz9 commented on #203
How do I obtain a cash dump?

On Feb 16, 2017 7:08 PM, "Robz8" <notifications@github.com> wrote:

[2017-02-17 03:31] Robz8 commented on #203
Hold SELECT while Luma starts, and set dev features to ErrDisp.
After getting a crash, the dump will be in "sdmc:/luma/dumps/".

[2017-02-17 07:14] Theorvolt opened #209 "TWLoader deleting settings.ini"
My settings.ini file keeps on deleting itself if I try to create it for TWLoader to save to. I tried using someone elses settings.ini but it still deletes :(

Also I am using Luma + A9LH 11.2 ( No emunand) installed as a cia file.

[2017-02-17 07:22] Robz8 commented on #209
There is no code in TWLoader that deletes settings.ini, so that shouldn't happen.
There might be a problem with your SD card.

[2017-02-17 07:35] Theorvolt commented on #209
Okay. I will try formatting the sd card and will get back.

[2017-02-17 07:36] Robz8 commented on #205
#209

[2017-02-17 07:36] #205 closed

[2017-02-17 07:54] Robz8 commented on #203
I looked at a crash dump, and there was nothing useful.
The culprit might be related to loading Slot-1 box art.

[2017-02-17 08:44] #209 closed

[2017-02-17 09:27] Jolty95 commented on #208
It's a good idea that is on my TODO list, but it's a duplicated https://github.com/Robz8/TWLoader/issues/171 Anyway, I'll keep working on it :)

[2017-02-17 09:27] #208 closed

[2017-02-17 10:12] Jolty95 commented on #200
@Margen67 sorry the delay. https://github.com/Robz8/TWLoader/pull/210
@maorninja , I'm on it too :)

[2017-02-17 10:12] #200 closed

[2017-02-17 20:39] Margen67 commented on #181
You can use FBI to delete them.

[2017-02-17 23:08] Minxxe opened #213 "Starting a nds game turns off n3dsxl"
Topic says it all.
Installed TWLoader v4.0.3 as CIA on 11.3 with EmuNAND and Luma3DS.
Edit: @Topic game is being started from sd card.
Game i tried to start: Mario Kart DS

[2017-02-17 23:21] Jolty95 commented on #213
Have you installed NAND side in SysNAND and EmuNAND?

[2017-02-17 23:36] Robz8 commented on #213
That's not it. TWLoader will stop with a message if it isn't installed.
Try installing a clean TWL_FIRM CIA.

[2017-02-17 23:41] Jolty95 commented on #213
@Robz8 I programmed that function BUT if you're using EmuNAND and if NOT installed in sysnand, we cannot know it either....(at least that's the theory)

[2017-02-17 23:43] Minxxe commented on #213
@Jolty95 How can i install it in sysnand? because it has no valid certificate.

[2017-02-17 23:44] Jolty95 commented on #213
@Minxxe Do you have FBI injected in SysNAND? I don't have emunand but iirc you need to launch FBI from sysnand and install nand side there too :)

[2017-02-17 23:46] Minxxe commented on #213
@Jolty95 i wasn't able to inject fbi into sysnand smh i tried it with via homebrew with fasthax but it just said its not using a valid certificate.

[2017-02-17 23:47] Jolty95 commented on #213
@Minxxe AFAIK using FBI with fasthax only works with legit cias

[2017-02-18 00:05] Margen67 commented on #213
@Minxxe Are you using A9LH?

[2017-02-18 00:11] Minxxe commented on #213
@Margen67 "Installed TWLoader v4.0.3 as CIA on 11.3 with EmuNAND and Luma3DS."

[2017-02-18 00:13] Margen67 commented on #213
Why are you using emuNAND?

[2017-02-18 00:14] Minxxe commented on #213
@Margen67 Because i didn't really knew about a9lh until i was done with my emunand.

[2017-02-18 00:15] Margen67 commented on #213
Follow this guide http://3ds.guide/

[2017-02-18 00:21] Minxxe commented on #213
well how can i get rid of emunand?

[2017-02-18 00:24] Robz8 commented on #213
Like @Margen67 said, follow the guide.

[2017-02-18 00:25] Minxxe commented on #213
@Robz8 I didn't saw the information about emunand at the bottom mb.

[2017-02-18 00:26] Margen67 commented on #213
At a certain part of the guide it has you move your emuNAND to your sysNAND.

[2017-02-18 03:52] weirdal3333 commented on #34
Make sure it uses port 5000 by default! (like every other homebrew app)

[2017-02-18 04:04] #34 closed

[2017-02-18 04:06] Minxxe commented on #213
So, after about 3h im now using A9LH (i did not move my emunand because it hadn't much important stuff) and i can say TWLoader is Working :)

[2017-02-18 04:12] Robz8 commented on #213
Good! Enjoy TWLoader!

[2017-02-18 04:12] #213 closed

[2017-02-18 18:04] CuconWo opened #215 "Update compatibility list?"
Has there been any upgrade to the compatibility list of games? The only one that I have seen roaming the -internet it´s one from  v0.4.0 so it´s outdated and I don´t know if there has been any update to the loader itself to be more compatible. Thank you for your work and I hope that in the future this evolves to a stable DS loader. There are so many gems!

[2017-02-18 19:05] Barawer commented on #215
The compatibility list is not for TWLoader, its for nds-bootstarp. TWLoader uses nds-bootstrap in order to boot nds games. the latest nds-bootstrap version is 0.4.0, so its updated.
link to nds-bootsrap: https://github.com/ahezard/nds-bootstrap/releases

[2017-02-18 19:35] Margen67 commented on #215
How do I edit the compatibility list?

[2017-02-18 19:43] Robz8 commented on #215
Did you request access?

[2017-02-18 19:44] CuconWo commented on #215
Oh okay, I understand but, now that they are working in "tandem" you could say, maybe they could update the compatibility in a near future.

[2017-02-18 20:35] Margen67 commented on #215
@Robz8 Yes.

[2017-02-19 11:25] tetsuo55 commented on #141
Why did you remove Korean bootlogo from the title?

[2017-02-19 11:28] bakawun commented on #141
Why did you remove the health and safety for china and korea from the title?

[2017-02-19 14:21] hectortillo opened #218 "r4 and akaio theme doesnt have bgm?"
I didnt know if this is because them didnt need to have bgm.:) but only DSi Menu plays the music.wav :) are there implemented the music play from r4 and akaio themes? :)

[2017-02-19 19:29] namanix opened #220 "kanji sonomama rakubiki jiten"
Hi There,

I know this isn't the right way to contact you but i could not find a way other than this to reach you.
In the NDS-Bootstrap google docs it states that you tested: kanji sonomama rakubiki jiten and concluded that picochat is not working. I need the tool for japanese study but it does not function at all.

The game gives a red attention window that roughly translates to: Data could not b

[2017-02-19 20:28] Robz8 commented on #220
Try taking out the currently inserted slot-1 card.

[2017-02-19 20:36] Robz8 commented on #218
No.

[2017-02-19 20:36] #218 closed

[2017-02-19 20:38] Robz8 commented on #141
I thought you meant the health and safety for china and korea doesn't exist, so I just gave the languages white screens.

[2017-02-19 20:58] namanix commented on #220
That actually worked. Thank you soo much!

[2017-02-19 20:58] #220 closed

[2017-02-19 21:51] Jolty95 opened #222 "TODO: split 3dsx version to another branch"
@Robz8 if you want, I can split 3dsx code to another branch (first on my repo, and if you like the idea, later send the PR here as always)
I think we can improve a bit more twloader if we don't send user a frankenbuild with a lot of code that won't never be used (3dsx version inside cia) and I don't mind to update 3dsx version branch at all. Also, cia size (and 3dsx too) will be a lot smaller with

[2017-02-19 23:24] Robz8 commented on #222
Yes.

[2017-02-20 00:53] Robz8 opened #225 "Crashing to HOME Menu with latest devkitARM and libctru versions"

[2017-02-20 02:43] Robz8 commented on #225
It either crashes at making the directories, or loading the fonts.

[2017-02-20 02:54] Robz8 commented on #225
Yep, either crashes at "sftd_init" or loading the fonts.

[2017-02-20 03:13] Robz8 commented on #225
I found the real problem why it crashes. It's the text drawing code.

[2017-02-20 03:58] chronoss09 commented on #181
How to delete them with the FBI?

[2017-02-20 04:01] Robz8 commented on #181
Press SELECT (I think) on the .ini file, and select "Delete".

[2017-02-20 07:39] bakawun commented on #141
Oh i see now.

No what i mean exactly, is that there are H&S screens specifically for china and korea, but we don't have them.
Additionally the DS and DSi logo on the top screen is different for china

[2017-02-20 16:22] tetsuo55 commented on #225
We should switch to this method for drawing the text
https://github.com/devkitPro/3ds-examples/tree/master/graphics/printing/system-font

[2017-02-20 16:24] bakawun commented on #225
We should switch to this method for drawing the text
https://github.com/devkitPro/3ds-examples/tree/master/graphics/printing/system-font

[2017-02-21 03:31] Margen67 commented on #213
@maorninja Why would you downvote the guide?
He's already installed A9LH so you're way too late, anyway.

[2017-02-21 12:18] Jolty95 commented on #225
@Robz8 do you know how to solve it or do you want an helping hand?

[2017-02-21 12:43] bakawun commented on #225
@Jolty95 i cannot say if he has, but the link i gave that explains how to use system font with citro3d could solve it. Also it would fix the font corruption issue we have.

[2017-02-21 14:47] killer983 opened #229 "not working"
White screen in games that go well in twloader 4.0 now do not work in 4.1.0 For example: mario kart ds
boostrap official 0.4.0 and unofficial 56746a3

[2017-02-21 15:21] Robz8 commented on #229
Update the unofficial bootstrap.

[2017-02-21 15:22] deadair3210 opened #230 "Is there any way to upload boxarts to the place that the app downloads them from"
Figured I would try to help if I can by filling in the missing games' boxart

[2017-02-21 15:23] Robz8 commented on #230
This is the place: http://www.gametdb.com/
You might have to register for an account.

[2017-02-21 15:24] Robz8 commented on #225
Problem is, I don't know how to implement it.

[2017-02-21 15:24] deadair3210 commented on #230
Ok thanks!

[2017-02-21 15:30] bakawun commented on #225
i think we can.
But we should stop using the sf libs altogether

[2017-02-21 15:32] deadair3210 commented on #230
I can't seem to find anything on that website about DS at all, only 3DS, Gamecube, Wii, and PS3

[2017-02-21 15:33] Robz8 commented on #230
Did you register an account?

[2017-02-21 15:34] killer983 commented on #229
I have already updated the unofficial bootstrap and do not go mario kart ds

[2017-02-21 15:34] deadair3210 commented on #230
Yes, it changed nothing as far as I can tell other than adding a Upload Artwork button to the pages of games

[2017-02-21 15:34] deadair3210 commented on #230
![vfdvfd](https://cloud.githubusercontent.com/assets/1053504/23171736/fe700ef2-f818-11e6-9b4e-3c26f7621e1b.PNG)

[2017-02-21 15:35] Robz8 commented on #230
Try contacting them.

[2017-02-21 15:36] Robz8 commented on #229
Is TWLNAND side updated? Try also re-setting your donor rom, if you have one set.

[2017-02-21 15:38] deadair3210 commented on #230
I just filled out the form to contact them, thanks

[2017-02-21 15:39] killer983 commented on #229
Twlnandsize not updated when updating twloader

[2017-02-21 15:40] Robz8 commented on #230
No problem. Hope you can upload DS box art soon.

[2017-02-21 15:40] #230 closed

[2017-02-21 15:41] Robz8 commented on #229
Try downloading the latest release on GitHub, then install TWLNAND side included in the 7z file.

[2017-02-21 15:57] killer983 commented on #229
Now work

[2017-02-21 15:57] #229 closed

[2017-02-21 15:58] tetsuo55 commented on #225
@Robz8 @Jolty95 @GerbilSoft

I asked xerpi about it and we really have to convert our code using the example above

[2017-02-21 15:59] Jolty95 commented on #225
You don't need to use multi account. We've read the first time btw

[2017-02-21 16:00] bakawun commented on #225
Oops i keep posting with someone elses account (shared computer)

[2017-02-21 16:50] VlivesRaw commented on #177
DSTT here, same issue with the white screen - can launch previously added games though. Adding games stopped working after the update from 3.X.X to 4.1.0

[2017-02-21 16:59] Robz8 commented on #177
Install TWLNAND side from the latest 7z file.

[2017-02-21 17:44] capito27 commented on #177
just letting you know i updated everything to the latest version (twloader, GUI&TWLNAND both, i replaced the flashcard files properly and deleted the _nds folder before setting everything back up), still white screen when trying to launch "add games", after the "DSi BIOS"

[2017-02-21 19:12] Robz8 commented on #177
It takes some tries. The next release should fix that.

[2017-02-21 21:59] Tempest1012 opened #232 "I need help!"
Hi, i've just downloaded the latest version of TWLoader, and i need help with 2 things. Starting with the easy bit, where can I find the twl side file? Now the hard bit is that i can go normally on TWLoader, without getting any errors messages. The issue comes in when i try to start one of my DS Games, because as soon as I start one, the system switches completely off! I've tried games from the li

[2017-02-21 22:16] Jolty95 commented on #232
NAND Side file is on SD:\_nds\twloader\cia
Install that file file and try again if you have any doubt. :)

[2017-02-21 22:27] Robz8 commented on #232
https://3ds.guide/troubleshooting: DSi / DS functionality is broken after completing the guide

[2017-02-21 22:29] Jolty95 commented on #232
Oh, yeah sorry. I understood you were finding nand side -facepalm-
Follow the guide above instead :)

[2017-02-22 00:00] Tempest1012 commented on #232
EDIT: Progress made, thanks guys, now the system doesn't switch off anymore, but when it loads the game, both screens go white after the classic DSi Health and Safety thing. Any suggestions for that?

[2017-02-22 00:04] Margen67 commented on #232
What game are you trying to play?

[2017-02-22 00:14] Tempest1012 commented on #232
I've tried  New Super Mario because i know it's in the list of the checked games, then i tried to play Inazuma Eleven 2 Blizzard and sadly none of them worked, so i think there is something more i need to do, since the first one is in the list of the working games.

[2017-02-22 00:15] Robz8 commented on #232
It also tells you what games work and don't work.

[2017-02-22 00:21] Tempest1012 commented on #232
Ok, i didn't know that, where can you see if a game works or not? Also, if the screens stay white without loading the games it's because they don't work?

[2017-02-22 00:30] Robz8 commented on #232
Scroll left to see "Compatibility".
Also, mostly yes.

[2017-02-22 00:38] Tempest1012 commented on #232
On the very left i've got the Settings, which don't mention anything regarding compatibility. But i know for sure that New Super Mario Bros. runs on TWLoader because it's in the list. https://docs.google.com/spreadsheets/d/1M7MxYQzVhb4604esdvo57a7crSvbGzFIdotLW0bm0Co/edit#gid=0

[2017-02-22 00:46] Robz8 commented on #232
You mean nds-bootstrap. TWLoader is just a frontend for nds-bootstrap.
Also "Compatibility" is in the list. Next to it is "Other Notes" and "Tested by".

[2017-02-22 00:53] Tempest1012 commented on #232
I have no idea about what you said in the first line, consider me a newbie regarding CFW, sorry for that.

When i open TWLoader, what i see in the menu are just the settings and my games, and for some reason a cartdidge whith the game i've got in the 2DS. I can't see anywhere "Other Notes" and "Tested By". Perhaps this has to do with the issues i have? How does the program react when you start a n

[2017-02-22 00:57] Robz8 commented on #232
"Compatibility", "Other Notes", and "Tested By" is in the compatibility list, not TWLoader.

[2017-02-22 01:05] Tempest1012 commented on #232
Oh F me! I'm feeling very dumb right now... Thanks for your time guys, and especially you Robz, it makes me very happy to see that developers themselves help the community. So i guess the list gets updated occasionally and new games get added in.

BTW, i'm not pirating those games, i'd like you to know that because i know that it's not right towards the developers. It might sound weird but since i

[2017-02-22 01:13] Robz8 commented on #232
nds-bootstrap (the SD rom loader itself) will be updated in the future to support more games, so check this thread: https://gbatemp.net/threads/nds-bootstrap-loader-run-commercial-nds-backups-from-an-sd-card.454323/
If there's a new version released in it's GitHub page, go into Settings in TWLoader, then press X. Make sure Bootstrap is set to Release.

[2017-02-22 01:13] #232 closed

[2017-02-23 01:06] maorninja commented on #200
@Margen67, um, no.

I didn't downvote because a) this is actually adding content, and b) you aren't pulling your "EmuNAND peasents go A9LH" way.

[2017-02-23 02:03] Margen67 commented on #200
I only tell people to go to A9LH+SysNAND using 3ds.guide because it's safer, better, AND solves their problem.

Telling by the fact that using 3ds.guide has actually solved problems MULTIPLE times
https://github.com/Robz8/TWLoader/issues/213#issuecomment-280820041
https://github.com/Robz8/TWLoader/issues/55#issuecomment-273006717
https://github.com/Robz8/TWLoader/issues/138#issuecomment-276198420

[2017-02-23 02:11] TheMCNerd2017 opened #235 "Every single game hangs on a white screen"
Self-explanatory issue. After updating TWLoader and nds-bootstrap to the latest official versions available, every single game I attempt to launch hangs on a white screen almost every time unless I go in and toggle the DS boot screen on and off every time I launch the app. I am not sure why this happens, so I thought I would bring up this issue.

[2017-02-23 02:15] Margen67 commented on #235
What entrypoint are you using?
Are you using an emuNAND?

[2017-02-23 02:17] Robz8 commented on #235
Did you update the bootstraps and TWLNAND side?

[2017-02-23 02:18] maorninja commented on #200
Lets take this on Discord PM's, as this is just going to do some stuff...

[2017-02-23 08:11] Margen67 commented on #86
Reopening since @Hakujou's link is dead.

[2017-02-23 10:45] TheMCNerd2017 commented on #235
Yes, TWLNAND side was updated correctly. I am using CFW, so I run it directly from the home menu. I do not have an emuNAND installed.

[2017-02-23 11:02] Jolty95 commented on #235
@TheMCNerd2017 can you re-set the donor rom?

[2017-02-23 12:27] Jolty95 commented on #215
Since compatibility is users responsibility to keep it updated and doesn't belong to TWLoader, I'll close this :)

[2017-02-23 12:28] #215 closed

[2017-02-23 12:29] Jolty95 commented on #206
@adrifcastr @Valeri0p what's strings are the too big?
Maybe I can do something to show them smaller (or another translation if possible) :)

[2017-02-23 12:48] Jolty95 commented on #82
This has been fixed! :)

[2017-02-23 12:48] #82 closed

[2017-02-23 13:45] Hakujou commented on #86
I removed the project since the project broke too often. I had to fix it almost every day, and the last ~20 builds were also broken.

If it stops to crash every two nightlies I'll re-add it.

[2017-02-23 14:54] TheMCNerd2017 commented on #235
What do you mean by resetting the donor rom? Do I really need to use one of my physical DS game carts for saving now?

[2017-02-23 14:55] Jolty95 commented on #235
@TheMCNerd2017 No. I mean to click on "Set as donor rom" in a working rom like Mario kart DS

[2017-02-23 14:56] TheMCNerd2017 commented on #235
I don't get an option anywhere to set it as a donor rom. Does it have to be dumped, or can I use the physical cart?

[2017-02-23 14:58] Jolty95 commented on #235
@TheMCNerd2017 open TWLoader and find a working rom (before I said a really good example ;) ) and press START(or SELECT don't remember right now) and press "Set as donor rom".
After that, try to run your white screen games. Now should work :)

[2017-02-23 15:09] TheMCNerd2017 commented on #235
I try to do that, but it always gets stuck on tthis screen.
![img_1038](https://cloud.githubusercontent.com/assets/25375242/23264667/2a68afbc-f9b0-11e6-9418-1b9b1b920c78.JPG)

[2017-02-23 15:09] TheMCNerd2017 commented on #235
That is with every game.

[2017-02-23 15:10] Jolty95 commented on #235
Is LOCK arm9 off?
What's about the per-game settings?

[2017-02-23 15:30] TheMCNerd2017 commented on #235
The lock arm9 was on, but games were working before with that on. i turned that option off. I also pressed select on the Sonic Rush prototype which brought a menu up. I pressed set as donor and proceded to launch one of the roms. It finally loaded up and started working again.

[2017-02-23 15:33] Jolty95 commented on #235
lock arm9 needs to be off since some bootstrap releases ago.
Can I close this now? :)

[2017-02-23 15:40] TheMCNerd2017 commented on #235
No need. I can close it. They should work on making the arm9 lock compatible though.

[2017-02-23 15:40] #235 closed

[2017-02-23 23:04] Jolty95 commented on #86
@Hakujou can you try one more time, please? Now TWLoader compile with devkitpro r46 :P

[2017-02-25 00:55] ApacheThunder opened #241 "TWL Nand side SRL hangs during slot reset with DS-Xtreme..."
This issue may possibly impact other flashcarts. The revised code below will fix this without introducing more warnings in the compiler:

https://github.com/ApacheThunder/NTR_Launcher/commit/61a0848611d1aa4716ef14e4375a666563660fd7

:D

[2017-02-25 09:30] Jolty95 commented on #241
@ApacheThunder Small question. Do you know if TWLoader's NTR Launcher and yours is the same?
I'm asking to remove "our" NTR Launcher from repo and instead, add yours as a submodule
Thanks :)

[2017-02-25 14:37] Robz8 commented on #241
Only thing that's needed to be removed is the DS/DSi splash for NTR Launcher.

[2017-02-25 14:39] ApacheThunder commented on #241
I had thought there was flashcart forwarding in your version of NTR Launcher as well or was that done somewhere else?

[2017-02-25 14:41] Robz8 commented on #241
I believe that's done on the flashcards themselves.

[2017-02-25 14:44] Jolty95 commented on #241
I still dont undertand why we need NTR launcher in TWLoader. Can someone explain me?

[2017-02-25 14:47] Robz8 commented on #241
SD loading and Slot-1 loading can't be both be in TWLNAND side. Believe there's conflict problems with some files.

[2017-02-25 14:48] ApacheThunder commented on #241
It's what handles booting the flashcart booting. You might be able to merge NTR Launcher into the nand side app TWLoader uses, but the bootloader code would need a major reworking among other things.

[2017-02-25 14:48] Jolty95 commented on #241
So nand side loads NTR launcher to access slot 1 and SD??

[2017-02-25 14:52] Robz8 commented on #241
NTR launcher can't load roms from SD, just the Slot-1 card, and TWLNAND side can load a .nds file from SD, but not load a Slot-1 card.

[2017-02-25 14:54] Jolty95 commented on #241
Ah oh see. Thanks both for explaining :+1

[2017-02-25 19:08] Minxxe commented on #206
@Jolty95 In the settings "Gesundheits- und Sicherheitsinformationen" is atm the only thing i could find that overlaps other text in german. (i did see other text being to big as well but i can't seem to find that text)

[2017-02-25 21:24] Jolty95 commented on #206
@Minxxe I cannot text it due to severals problem in latest compilations but when text works again, I'll take a look to that ;)
(I don't know german but maybe that is about ds/dsi splash screen right?)

[2017-02-26 19:12] ApacheThunder commented on #241
Well I suppose you could use the main fork of NTR Launcher for this. It does have INI file options for disabling boostplash and allowing SD access so everything is there for TWLoader Nand side app to use. You'd just have set the options for it in the ini file.

[2017-02-28 22:38] deadair3210 opened #246 "App hangs when exiting settings"
Freshly formatted sd card, placed twloader package contents and arm9loaderhax.bin file, nothing else. Turned on 3ds and let it make its folders, then installed both normal and twl side. app opens but when i go to open the settings and even without changing anything back out, the app causes the 3ds to crash and restart

[2017-02-28 23:29] Jolty95 commented on #246
what theme do you have set for twloader?

[2017-02-28 23:31] deadair3210 commented on #246
default, cant change any settings without it crashing. I just got done formatting the sd card, and placed the sd files on the root of the sd card

[2017-02-28 23:33] Jolty95 commented on #246
maybe it's not related but...
create in SD two folders like this:
SD:\roms\nds
SD:\roms\flashcard\nds

and tell me back if that solves the problem :)

[2017-02-28 23:42] deadair3210 commented on #246
I think that fixed it, its working fine now after I added some games

[2017-02-28 23:43] Jolty95 commented on #246
Can this be closed? :)

[2017-02-28 23:46] deadair3210 commented on #246
This should be fixed though, either through having dummy folders in the archive, or by having the app create it when it notices that they are missing

[2017-02-28 23:46] #246 closed

[2017-02-28 23:48] Jolty95 commented on #246
[Wiki](https://github.com/Robz8/TWLoader/wiki/Installation-and-upgrade) said you need to move your `.nds` backups to `SD:\roms\nds` so at least that folder needs to be created by user first.

[2017-03-01 00:09] deadair3210 commented on #246
Perhaps put a notice somewhere a little more noticeable if possible? People don't always go to the wiki

[2017-03-02 15:27] Hakujou commented on #86
I'll look into it, but since it uses a different repo which is not a submodule (no idea of why), it'll be a little bit more complicated and might take some time. Please be patient.

[2017-03-17 14:27] diegobalbine commented on #153
i can help to translate in portuguese-br

[2017-03-20 17:34] Robz8 commented on #167
Re-opening, since the issue returned in v4.2.0.

[2017-03-20 17:38] Jolty95 commented on #167
@Robz8 but this issue is related again with #174 ?

[2017-03-21 04:37] mitchellmebane commented on #203
I'm getting this one.  N3DSXL, 11.3.0-36U, Luma3DS (both 6.6 and 0eab9127 hourly).  I turned off N3DS clock/L2 in Luma settings in case that was it.  I've got the R4i Gold 3DS RTS from r4ids.cn, with Wood 1.64.  The 3DS SD card is 64GB w/ 64kb clusters.  The R4i SD card is 32GB w/ 32kb clusters.

I noticed it happened with 4.2.0, but I went back to 4.1.0, and it's happening there, too.

I tried cl

[2017-03-22 02:10] shadowvz96 commented on #203
Hi. I get a crash upon startup as well for some odd reason and i really would like to use this lovely app!

[2017-03-22 03:04] Robz8 commented on #203
Try deleting settings.ini.

[2017-03-22 03:07] shadowvz96 commented on #203
it worked! Thanks! But I got a white screen

On Mar 21, 2017 11:05 PM, wrote:

[2017-03-22 03:35] Robz8 commented on #203
White screen on what game?

[2017-03-22 04:01] shadowvz96 commented on #203
On Tue, Mar 21, 2017 at 11:35 PM Robz8 <notifications@github.com> wrote:

MARIO hoops 3 on 3
--
Christopher Viquez
St. Joseph's College, Brooklyn, NY

Class of 2018
Math/Computer Science Major
Art Minor

*'100% Eager to Learn!'*

[2017-03-25 20:13] phoen1x74 opened #249 "TWLoader updating over and over again on start"
I can't get into TWLoader because it keeps thinking it's not updated. I'm using the latest version.

[2017-03-25 20:30] Robz8 commented on #249
It's already known.
#167

[2017-03-25 20:30] #249 closed

[2017-03-27 20:41] Redswastaken opened #251 "Games not loading"
I installed twloader on a friends 3ds (he has the original model), and one of the games dont appear on the menu (megamanzx advent). Also only one of the games actually start when selected (sonic rush). The 3 other games I downloaded either get stuck on a black or white screen.

[2017-03-27 21:40] Robz8 commented on #251
Is MegaMan ZX Advent in the same directory as Sonic Rush?

[2017-03-27 22:49] Redswastaken commented on #251
yup. there all in sd/roms/nds

[2017-03-28 00:12] Robz8 commented on #251
Did you try switching pages?

[2017-03-28 02:03] Redswastaken commented on #251
What?

[2017-03-28 02:40] Robz8 commented on #251
If you have more than 20 roms in the folder, you can press L or R to switch pages.

[2017-03-28 02:57] Redswastaken commented on #251
there are only 5 roms

[2017-03-28 03:00] Robz8 commented on #251
What's the exact filename extension for the MMZXA rom?

[2017-03-31 22:26] Redswastaken commented on #251
.nds

[2017-03-31 23:11] Robz8 commented on #251
That's weird. It should have appeared if it's correct.
What's the exact filename of the rom?

[2017-03-31 23:23] Redswastaken commented on #251
MegZX Advent.nds

[2017-04-01 01:33] Robz8 commented on #251
Can you upload a PC screenshot of your rom list?

[2017-04-13 05:13] Zetchzie opened #253 "Update 11.4 Killed TWLoader"
Not sure if its a bootstrap  bug or TWLoader bug but DS games no longer launch you just get a black screen. The DS Boot Screen doesnt even show anymore.

NVM Latest Luma Fixes it

[2017-04-13 05:20] #253 closed

[2017-04-16 04:00] harveytj03 opened #254 "Anyone else have the constant update loop?"
I know this is known but im just wondering who has it working fine and ones that are also having the issue.
You may close this issue. But i just made it for anyone just wanting to say its fine for them or they're having the issue.

[2017-04-16 04:38] Robz8 commented on #254
Pretty sure everyone will have this issue if the auto-update option is on.

[2017-04-16 13:23] harveytj03 commented on #254
Anyway to reset it?

[2017-04-16 18:37] Robz8 commented on #254
Turn off wifi, then go to the TWLoader settings screen, and turn off Auto-update TWLoader.

[2017-04-17 18:27] Akino94 opened #255 "Hello!!"
Hello, good afternoon, will work someday the world end whit you patched to Spanish in this application? I need to play :(

[2017-04-17 19:14] Robz8 commented on #255
The World Ends Without You won't be playable for a while.

[2017-04-18 19:21] Jolty95 commented on #255
@Akino94 The World Ends With You aún no funciona con nds-bootstrap, así que aún queda un buen rato de espera para poder disfrutar de ese juego (ya somos dos :P )
Cuando TWEWY sea compatible, habrá que esperar un poco más para que sean compatibles las hackroms ya que de momento, las hacksroms de juegos compatibles (por ejemplo de Mario Kart DS) tampoco son compatibles :sweat_smile:

[2017-04-18 19:21] #255 closed

[2017-04-18 19:22] Jolty95 commented on #225
@Robz8 this can be closed afaik

[2017-04-18 19:22] #225 closed

[2017-04-21 03:22] #254 closed

[2017-04-21 03:51] Margen67 commented on #254
Unless the problem has been fixed the issue shouldn't be closed.

[2017-04-21 04:35] Robz8 commented on #254
The issue is still open here: #167

[2017-04-23 09:24] Mayoshiroi commented on #141
![iquedshs](https://cloud.githubusercontent.com/assets/19636055/25312341/762fbad6-2849-11e7-83a4-0908af22a66a.png)
![ndsihs_kr](https://cloud.githubusercontent.com/assets/19636055/25312342/766d2e16-2849-11e7-8da8-499fc323f1a0.png)
HS screens, from online pdf mannual

[2017-04-23 16:42] JustanOrdinary opened #257 "white screen"
I'm trying to boot rhythm heaven DS. Any suggestions or any way to test it out to see if it works? It's just a white screen

[2017-04-23 20:18] Robz8 commented on #257
If it's white screen for a while, then the game's incompatible.
Also, wrong repository. This is for the frontend/GUI of TWLoader.
Here's the backend that does the actual ROM loading/running.
https://github.com/ahezard/nds-bootstrap

[2017-04-23 20:19] Robz8 commented on #141
Nice! Thanks.

[2017-04-23 20:48] SplatMan333 opened #258 "New Super Mario Bros. USA not working"
Whenever I try to run New Super Mario Bros. USA, I get a white screen after the ds boot logo. Plz help. I lost my cart for this game and want to play it in TWLoader!

[2017-04-23 22:21] Robz8 commented on #258
Already solved in: https://github.com/ahezard/nds-bootstrap/issues/72

[2017-04-23 22:21] #258 closed

[2017-04-23 22:21] JustanOrdinary commented on #257
oops sry closing

[2017-04-23 22:21] #257 closed

[2017-04-24 21:22] DD2XAlpha opened #259 "Date from TWLoader"
Hello I want to know how to change the date of TWLoader. I changed the date from 3ds system settings but on TWLoader it doesn't change

[2017-04-24 21:26] Jolty95 commented on #259
@DD2XAlpha Are you using sysnand+emunand?

[2017-04-24 21:31] DD2XAlpha commented on #259
I'm using Luma3ds 7.0

[2017-04-24 21:32] Jolty95 commented on #259
@DD2XAlpha I think you haven't notice about my edit :P

[2017-04-24 21:35] DD2XAlpha commented on #259
On the DS profile is only the mesaage and color options

[2017-04-24 21:38] Robz8 commented on #259
@DD2XAlpha Are you using SysNAND+EmuNAND with Luma?

[2017-04-24 21:38] Jolty95 commented on #259
@DD2XAlpha I think you're using sysnand+emunad just I said before and @Robz8

If yes, boot to SysNAND and change date there too

[2017-04-24 21:43] DD2XAlpha commented on #259
I'm using ARM9Lh I have the Autoboot on Luma Settings.  The problem is that. Meloetta Distribution Demo Rom from 2013 works great but the problem is the date

[2017-04-24 21:44] Jolty95 commented on #259
That is a different problem and is related with nds-bootstrap not with TWLoader afaik.

[2017-04-24 21:45] DD2XAlpha commented on #259
Ok thanks

[2017-04-24 21:45] #259 closed

[2017-04-26 20:09] Kazutto opened #260 "Getting Error Message "Unable to read data. Turn the power off and reinsert the Game Card.""
I am trying to play Mario Hoops 3 on 3, but I always get the error message "Unable to read data. Turn the power off and reinsert the Game Card". I am using the correct version and the game should be compatible according to nds bootstrap list.

[2017-04-26 20:21] Robz8 commented on #260
Did you set a Mario Kart DS ROM as a donor ROM?
If not, in the TWLoader GUI, if using the DSi-Menu theme, move the cursor to the MKDS ROM, press SELECT, then select "Set as donor ROM".

[2017-04-26 20:23] Kazutto commented on #260
Wait am I supposed to download Mario Kart

[2017-04-26 20:46] Kazutto commented on #260
Ok the game is working now. Thanks :D

[2017-05-03 05:38] #260 closed

[2017-05-03 05:40] Robz8 commented on #203
The crash has been fixed in the latest version. Can be closed now.

[2017-05-03 05:40] #203 closed

[2017-05-03 05:41] Robz8 commented on #167
The issue is one again fixed in v4.3.1.

[2017-05-03 05:41] #167 closed

[2017-05-03 20:35] frankyfife opened #261 "N3DS turns off while loading a game"
FW 11.3.
latest TWLoader (4.3.1), bootstrap 0.4.1

games r listet (super mario ds) in the selection menue, confirm the selection turns off my N3DS (screen goes black and the blue power led turns off). i'm pretty new to the whole 3ds/cfw topic, so i'm not sure if this is really a bug. from what i understand the loader reboots in a kind of 3ds mode.

[2017-05-03 20:49] Robz8 commented on #261
Try following this part of the guide: https://3ds.guide/troubleshooting#twl_broken

[2017-05-03 20:51] #251 closed

[2017-05-03 20:53] Robz8 commented on #204
@Mattery If you're still getting the bug, sorry, I have no idea how to fix this.

[2017-05-03 20:53] #204 closed

[2017-05-03 20:57] Robz8 commented on #141
@Mayoshiroi Can you find the screens in their native resolution? I tried scaling them down, but they still look horizontally blurry.

[2017-05-04 05:33] frankyfife commented on #261
you're right. Following the guide you mentioned did the trick for me. thank you.

[2017-05-04 13:22] RinMaru opened #263 "Font not centered correctly"
I heard this issue in another thread that was closed but it's still a thing the font is not centered as it should be

[2017-05-04 18:22] anuserlol commented on #263
Yes,i have that problem too.I don't know if this is because i use it in spanish or what,but if you can,please fix it. Thanks.

[2017-05-04 18:23] Robz8 commented on #261
You're welcome. :)

[2017-05-04 18:23] #261 closed

[2017-05-04 18:27] Jolty95 commented on #263
It's not a problem of language and it's a well-known bug. I'll fixed soon too :)

[2017-05-04 18:52] anuserlol commented on #263
ok thanks

[2017-05-04 20:41] NaaChill commented on #177
Seems as if the latest version broke Acekard compatibility. I suppose this ticket will be closed once support is back online.

[2017-05-04 21:10] Robz8 commented on #177
Actually, I don't think it worked in the first place.

[2017-05-04 21:10] #177 closed

[2017-05-05 12:33] WildWester opened #264 "An error has occured"
an error has occured
press and hold the POWER button
to turn the system off

Luma v. 7.0.4
n3ds emunand 11.3 (sysnand unused on 11.4)
Regular DS cartridges work DSI ware does not work
Game: super princess peach

video of the error:
https://www.youtube.com/watch?v=NnrqH3DI3xg

*edit
also when booting a cartridge from twloader it also gives the error screen

**edit legend of zelda four swords from e

[2017-05-05 14:07] Robz8 commented on #264
Did you inject FBI into SysNAND H&S?

[2017-05-05 14:10] WildWester commented on #264
Nope i seem not even be able to do so as it gives me an error, (same error occurs when dumping hs.app)
slotkey0x25keyX not set up

[2017-05-05 14:17] Jolty95 commented on #181
https://github.com/Robz8/TWLoader/pull/262

This can be closed (at least code is there if someone wanna copy ;) )

[2017-05-05 14:17] #181 closed

[2017-05-05 16:35] daffyb opened #265 "French.h not used in the release 4.3.1 ?"
Hello,
After updating twloader to 4.3.1 it seams the last French translation has not been included into the release.
Any one comfirms ?

[2017-05-05 16:38] Jolty95 commented on #265
french is on 4.3.1 too. Check again in settings but I've tested now and I can switch to french without issues.

[2017-05-05 17:24] daffyb commented on #265
French is working but it is not the one with the corrections I made (not the last one, same as on 4.2)

[2017-05-05 17:29] Jolty95 commented on #265
@daffyb oh I see. I'm using my PR's latest commit and it's showing your corrections. Maybe @Robz8 forget to sync his local repo before compiling 4.3.1? :)

[2017-05-05 18:12] WildWester commented on #264
UPDATE
installing the bootstrap on sysnand fixed the issue!!! yay

[2017-05-05 18:16] Robz8 commented on #264
You mean TWLNAND side? bootstrap is just on the SD card.

[2017-05-05 18:33] daffyb commented on #265
Yep, it's a possibility ;)

[2017-05-05 23:18] Jolty95 commented on #264
@WildWester how have you "installed bootstrap to sysnand"? o.o
I think you wanna say: TWL_FIRM, right?
Bootstrap is on SD and can not be "installed" haha

[2017-05-05 23:47] maorninja commented on #264
Actually, you can install the bootstrap as a cia but it has to be compiled by yourself... But what he means is the TWL side cia

Sent from my iPhone

On May 5, 2017, at 4:19 PM, Jolty <notifications@github.com<mailto:notifications@github.com>> wrote:

@WildWester<https://github.com/WildWester> how have you "installed bootstrap to sysnand"? o.o
I think you wanna say: TWL_FIRM, right?
Bootstrap is o

[2017-05-06 08:56] edgelord9000 commented on #264
Yes I ment the TWL Nand side thingy sorry for the confusion

[2017-05-06 08:58] edgelord9000 commented on #264
redardles thanks for your help on the issue

[2017-05-06 08:59] edgelord9000 commented on #264
*regardless (I am typing on my phone)

[2017-05-06 19:34] #264 closed

[2017-05-09 14:52] Jolty95 opened #267 "Fallback region is not working for european roms"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [x]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [x]  A9LH + Sysnand
- [ ]  A9LH + Emunand
- [x]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3DSX format

### Console version

[2017-05-09 18:39] Robz8 commented on #267
I had to make it only use EN for Pokemon Black and White 1&2.

[2017-05-09 18:41] Jolty95 commented on #267
I don't mean that :P
I'm saying that by fallback, it should download this for example:
http://art.gametdb.com/ds/coverS/EN/YKGP.png
But isn't doing that when http://art.gametdb.com/ds/coverS/ES/YKGP.png doesn't exist

[2017-05-10 19:45] Robz8 opened #268 "Not all ROMs are listed in R4 theme"
This only happens if there's a lot of ROMs.
I think some of the ROM filenames are taking up too much text memory.
The ROMs that aren't listed can still be selected and loaded.

[2017-05-10 20:41] Robz8 commented on #268
It's now fixed.
https://github.com/Robz8/TWLoader/commit/9cd80e1dd585cf579edcc56ae937ec80ce8c27e5

[2017-05-10 20:41] #268 closed

[2017-05-14 20:40] Jolty95 commented on #267
@Robz8 I found the problem!

In some minutes I'll send a PR fixing this :)

[2017-05-14 21:16] Jolty95 commented on #267
Done ;)
https://github.com/Robz8/TWLoader/pull/269

[2017-05-14 21:16] #267 closed

[2017-05-17 22:16] Gauchecoder64 opened #270 "TWLoader selecting non-existant icons."
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [X]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [X]  A9LH + Sysnand
- [ ]  A9LH + Emunand
- [ ]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3DSX format

### Console version

[2017-05-17 22:36] Jolty95 commented on #270
@Gauchecoder64 Are you having this problem with SD roms, FC, or both? :)

[2017-05-17 22:44] Jolty95 commented on #270
OK, I've found the problem ;)

[2017-05-17 23:03] Gauchecoder64 commented on #270
@Jolty95 I've only tried it on SD.

[2017-05-17 23:19] Jolty95 commented on #270
https://github.com/Robz8/TWLoader/pull/271 :)

[2017-05-17 23:19] #270 closed

[2017-05-19 16:55] n4n0byte opened #272 "Support for ismart MM cart"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [ ]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [ ]  A9LH + Sysnand
- [ ]  A9LH + Emunand
- [ ]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3DSX format

### Console version

[2017-05-19 18:27] Robz8 commented on #272
What .nds file does it start right when you launch it?
For example, TTMenu.dat is started when you launch the DSTT card.

[2017-05-19 18:41] Jolty95 commented on #272
@n4n0byte We cannot help you if you don't fill the issue template first.

[2017-05-19 18:44] Robz8 commented on #272
@Jolty95 It's OK. I don't think he needs to fill it if he's just requesting support for a flashcard.

[2017-05-19 18:47] n4n0byte commented on #272
I believe it is the ismart,nds file however there is another file named DSGAME.nds and some .dat files as well. I can push the folder to my fork if it would be useful.

[2017-05-19 20:14] Robz8 commented on #272
OK. Can it do autoboot?

[2017-05-19 20:19] n4n0byte commented on #272
After looking it up it seems that it seems that it can auto boot roms. I have never used that feature on it though.

[2017-05-19 20:22] Robz8 commented on #272
Do you know if it autoboots a ROM from a .ini file?

[2017-05-19 20:59] n4n0byte commented on #272
I'll try to get a hold of an nds and test it out, but as of now, i'm not sure.

[2017-05-22 00:23] sethreign8103 opened #274 "Black Screen in SM64DS after opening the lid"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [ ]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ X ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [ X ]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [ X ]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader

[2017-05-22 00:26] Robz8 commented on #274
That happens, because you have TWL clock speed set for this game. In TWLoader's DSi Menu, press SELECT on Super Mario 64 DS ROM, then change CPU speed to 67mhz(NTR).

[2017-05-22 03:32] sethreign8103 commented on #274
Yep that was it. Thanks. Also really good job getting this to run as good as it does now.

[2017-05-22 03:32] #274 closed

[2017-05-29 07:25] TiredKorok opened #275 "exiting settings returns to the interface on top of right bound border guard"
### Your 3DS

Tell us which console do you have:

- [ 1]  Old 3DS XL

### CFW and configuration

Tell us which CFW do you have:

- [1 ]  Boot9Strap (SigHax) **luma latest stable release

### Console version

Tell us which version do you have:

- [ 1]  >= 11.4

### TWLoader version

Tell us which versions you are using:

- [ 1]  Latest release

### Expected behaviour

Exiting settings returns to th

[2017-05-29 08:28] Jolty95 commented on #275
Thanks for the complete report but I fixed that some days ago :P
Just to be sure, I'll test it again before clossing ;)

[2017-05-29 08:34] Jolty95 commented on #275
Yeah, it's solved in latest commits :P

[2017-05-29 08:34] #275 closed

[2017-05-29 13:32] Robz8 commented on #275
@Jolty95 Hope you can fix the update issues, so it gets another release.

[2017-05-29 13:40] Jolty95 commented on #275
@Robz8 Which ones? :P Do you mean nand side updates with .json too?

[2017-05-29 13:42] Robz8 commented on #275
Yep.

[2017-05-29 13:43] Jolty95 commented on #275
I'm working on it rn ;)

[2017-05-29 17:41] mariogamer2 opened #277 "Automate TWLoader-Update repo"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [ ]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [ ]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [ ]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3D

[2017-05-29 17:44] mariogamer2 opened #278 "Change issues_template and contributing files"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [ ]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [ ]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [ ]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3D

[2017-05-29 17:45] mariogamer2 commented on #277
I know this may take time, but it will be better than always updating manually.

[2017-06-01 02:20] SaltfishAmi opened #279 "Roms on SD card load very slowly"
I'm using a New 3DS XL on 11.3 with B9 + Luma + Sysnand. I checked the compatibility list and found that my roms are all green. However when I boot the roms or scene changes in the game there're long lags up to a minute or two, making them unplayable. Does anyone know the reason? Thank you

[2017-06-01 02:46] Robz8 commented on #279
Your SD card isn't using 32kb cluster size.

[2017-06-01 05:04] SaltfishAmi commented on #279
@Robz8 Reformatted but unsolved. Is there any requirements for the card?

[2017-06-01 05:18] Robz8 commented on #279
Besides having 32kb clusted size, nope.
What games are you playing?

[2017-06-01 05:42] SaltfishAmi commented on #279
@Robz8
Mario Kart EUR, Super Mario 64 DS USA.

[2017-06-01 19:58] Robz8 commented on #279
Mario 64 DS will work just fine.

[2017-06-02 02:12] SaltfishAmi commented on #279
@Robz8 but it didn't...well I think I'll just use my flashcart instead.

[2017-06-02 02:12] #279 closed

[2017-06-02 04:16] Margen67 commented on #86
@Hakujou

[2017-06-07 13:00] Jolty95 opened #280 "Crash when updating TWLoader"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [x]  Old 3DS XL
- [ ]  2DS
- [x]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [x]  Boot9Strap (SigHax)
- [x]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [x]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3D

[2017-06-07 15:26] Jolty95 commented on #280
Solved ;)

[2017-06-07 15:26] #280 closed

[2017-06-07 15:30] aj-m opened #282 "Crash updating nds-bootstrap, then crash on TWLoader boot afterwards"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [ ]  Old 3DS XL
- [x]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [x]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [x]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3D

[2017-06-07 15:44] Jolty95 commented on #282
Bug is fixed in latest nighty's :)
https://github.com/Robz8/TWLoader/pull/283

[2017-06-07 15:44] #282 closed

[2017-06-07 16:52] Sabre8073 opened #284 "EZ Flash V support"
### Your 3DS

Tell us which console do you have:

- [x]  Old 3DS
- [ ]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [x]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [x]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3D

[2017-06-07 16:53] Sabre8073 commented on #284
Love the app just wanting to request that EZ Flash V gets a compatabilty update with TWL Loader...Thx for the great work.

[2017-06-07 17:05] Robz8 commented on #284
Do you know what .nds file is started when the flashcard is launched?
Also, does it work when launching the card itself in TWLoader?

[2017-06-08 06:27] RubberBrony opened #285 "Data Abort when updating nds-bootstrap, and on all subsequent launches of TWLoader"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [ ]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [x]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [x]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [x]  Luma3DS 8.0
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader i

[2017-06-08 06:30] RubberBrony commented on #285
It should be noted that on Luma3DS 8.0, the crash handler can't be disabled, and so things that *wouldn't* crash previous versions of Luma3DS will crash 8.0

[2017-06-08 08:08] Boured commented on #285
I can confirm this, I had to reinstall the entire thing (folders and all) In order to make it functional again. I do hope it gets fixed in the future.

[2017-06-08 08:14] Jolty95 commented on #285
It's the same as this issue?
https://github.com/Robz8/TWLoader/issues/282

[2017-06-08 08:20] Boured commented on #285
Pretty much, i'm new to TWLoader, so where would I find the Nightlies?

[2017-06-08 08:27] Jolty95 commented on #285
ATM you can only get nighties if you compile TWLoader by yourself. But release will be ready really soon :)
And, since this issue is duplicated, I'm closing this now ;)

[2017-06-08 08:27] #285 closed

[2017-06-08 20:04] Sabre8073 commented on #284
I believe it may be the ez5sys.bin but not sure here is a link from where you or someone else if needed can examine the files needed to run the flashcard (https://filetrip.net/nds-downloads/flashcart-files/dl-ez5-kernel-3-0-ob1-f11774.html)

I can get the card to launch with NTR Launcher but it freezes on boot, was hoping TWLoader could run the card so I can play some of my old school DS games w/o

[2017-06-08 20:08] Robz8 commented on #284
If the card doesn't work with NTR Launcher, then there won't be support for it.

[2017-06-08 22:19] Jolty95 commented on #265
This can be closed :P

[2017-06-08 22:19] #265 closed

[2017-06-09 16:43] Hakujou commented on #86
Last time I checked it was still a mess to build (mainly due to Jekins way of working with Git repos). I'll take a look ASAP, as I've updated a lot of things.

[2017-06-09 17:16] Hakujou commented on #86
Still broken : https://jenkins.hakujou.fr/job/3DS/job/TWLoader/1/console

Also, there's a mistake on your compile.bat. It tries to cd to twlnand-side where it probably should be flashcard-side. Still, it doesn't work... I'll need your help with this one.

[2017-06-10 15:14] Mayoshiroi commented on #141
Sorry for the late reply.
I just find them in pdf manual, maybe it has been scaled. I don't have Korean and Chinese version NintendoDS, so I don't know how to get their native resolution.

[2017-06-10 15:52] Robz8 commented on #141
That's okay. Since the boot screen has moved to the GUI, I won't need them in their native resolution.

[2017-06-11 17:15] Jan200101 opened #287 "TWLD.twldr not found"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [x]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [ ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [X]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [ ]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in 3D

[2017-06-11 17:20] Jolty95 commented on #287
This is not a bug. Download TWLoader.7z from release page and put TWLD.twldr from 7z in `SD:\_nds\twloader\`

[2017-06-11 17:20] #287 closed

[2017-06-11 17:41] Jan200101 commented on #287
Well maybe TWLoader should download it automaticly when updating...
but hey ¯\_(ツ)_/¯

[2017-06-11 17:44] Jolty95 commented on #287
It actually do it. But only from version >5.0.0

[2017-06-12 11:06] nicolo01 commented on #282
This still happens

[2017-06-12 11:43] Clement95 commented on #282
Same for me :/

[2017-06-12 14:43] DatRobinPlays opened #288 "Saves could not be loaded"
### Your 3DS

Tell us which console do you have:

- [ ]  Old 3DS
- [ ]  Old 3DS XL
- [ ]  2DS
- [ ]  New 3DS
- [x ]  New 3DS XL
- [ ]  New 2DS XL

### CFW and configuration

Tell us which CFW do you have:

- [ x]  Boot9Strap (SigHax)
- [ ]  A9LH (Only Sysnand)
- [ ]  A9LH + Emunand
- [ ]  Luma3DS
- [ ]  AuReiNAND
- [ ]  Other CFW [specify]
- [ ]  Older CFW
- [ ]  Not using CFW / Using TWLoader in

[2017-06-12 14:55] Robz8 commented on #288
Did you set a donor ROM?

[2017-06-12 15:26] DatRobinPlays commented on #288
On some yes on others no.
A few are working without donor rom but say that they can't read the saves.
Others only work with donor rom and they say the same.

[2017-06-12 16:40] DatRobinPlays commented on #288
Btw you are doing great work! <3

[2017-06-12 16:57] Robz8 commented on #288
Is Mario Kart DS set as donor ROM?
If yes, games that say "save could not be read" should be fixed in a future bootstrap version.